{% extends "base.html"  %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : accounts/account_change_password.html
# Author            : Balazs Lendvay
# Date created      : 2019.12.08
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.12.08  Lendvay     1      Initial file
# **********************************************************************;
-->
{% load bootstrap4 %}


{% block content %}
<div class="container w-100">
    <div class="d-flex justify-content-center" style="margin:100px;margin-top:10px">
            <div class="card">
                <div class="card-header">
                    <h1>Change Password </h1>
                </div>
                <div class="card-body">
                    <form method="post">
                      {% csrf_token %}
                      {% bootstrap_form form %}
                      <input type="submit" value="Save Changes" class="btn btn-default">
                    </form>
                </div>
            </div>
    </div>
</div>

{% endblock %}
