<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/action_detail_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# 2019.08.13  Lendvay     2      Removed action files
# **********************************************************************;
-->
{% if action.pk %}
    <tr>
        <td><strong>Action ID</strong><br> {{ action.pk }} </td>
        <td><strong>Title</strong><br> {{ action.title }} </td>
        <td><strong>Owner</strong><br> {{ action.user }} </td>
        <td><strong>Created on</strong><br> {{ action.created_at|date:"Y/m/d H:i:s" }} </td>
        <td><strong>Created by</strong><br> {{ action.created_by }} </td>
    </tr>
    <tr>
        <td><strong>Enabled</strong><br> {{ action.enabled }} </td>
        <td colspan="4">
            <div class="row">
            <div class="container invdescription2">
                <strong>Description</strong>
                {{ action.description_html|safe }}
            </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>Attachment<br></strong>
            {% if action.fileRef %}
                <a href="{{BASE_URL}}{{MEDIA_URL}}{{ action.fileRef.name }}"
                  class="btn btn-default btn-xs" target="_blank">
                  <span class="glyphicon glyphicon-floppy-disk">{{ action.fileName }}</span>
                </a>
            {% else %}
                None
            {% endif %}
        </td>
        <td colspan="3">
            <strong>Arguments</strong><br> {{ action.argument }}
        </td>
    </tr>
    <tr>
        <td><strong>Input Source</strong><br> {{ action.scriptinput }} </td>
        <td><strong>Input Attr Filter</strong><br> {{ action.scriptinputattrtype }} </td>
        <td><strong>Run on All Attrs</strong><br> {{ action.scriptinputattrtypeall }} </td>
        <td><strong>Modified on</strong><br> {{ action.modified_at|date:"Y/m/d H:i:s" }} </td>
        <td><strong>Modified by</strong><br> {{ action.modified_by }} </td>
    </tr>
    <tr>
        <td><strong>Output Target</strong><br> {{ action.outputtarget }} </td>
        <td><strong>Output Format</strong><br> {{ action.scriptoutput }} </td>
        <td><strong>Output Data Type</strong><br> {{ action.scriptoutputtype }} </td>
        <td><strong>Output Evidence Format</strong><br> {{ action.outputdescformat }} </td>
        <td></td>
    </tr>
    <tr>
        <td><strong>Automation</strong><br> {{ action.automationid.name }} </td>
        <td><strong>Connection</strong><br> {{ action.connectionitemid }} </td>
        <td><strong>Version</strong><br> {{ action.version }} </td>
        <td><strong>Script Category</strong><br> {{ action.automationid.script_category }} </td>
        <td><strong>Script Type</strong><br> {{ action.automationid.script_type }} </td>
    </tr>
    <tr>
        <td colspan="5">
            <div class="row">
                <div class="container invdescription">
                <strong>Code</strong><br>
                    <textarea readonly style="width:100%;height:300px">{{ action.automationid.code }}</textarea>
                </div>
            </div>
        </td>
    </tr>
{% else %}
    <tr><td colspan="5">No Header available!</td></tr>
{% endif %}
