<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/action_list_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% if object_list %}
{% for action in object_list %}
                <tr>
                    <td>
                        <a class="badge" href="{% url 'tasks:act_detail' pk=action.pk %}?next1={{ request.get_full_path|urlencode }}">{{ action.pk }}</a>
                    </td>
                    <td>
                        {{ action.user }}
                    </td>
                    <td>
                        {{ action.title }}
                    </td>
                    <td>
                        {{ action.automationid.type.name }}
                    </td>
                    <td>
                        {{ action.scriptinput }}
                    </td>
                    <td>
                        {{ action.outputtarget.name }}
                    </td>
                    <td>
                        {{ action.automationid.script_type.name }}
                    </td>
                    <td>
                        {{ action.created_at|date:"Y/m/d H:i:s" }}
                    </td>
                    <td>
                        {{ action.created_by }}
                    </td>
                    <td>
                        {{ action.modified_at|date:"Y/m/d H:i:s" }}
                    </td>
                    <td>
                        {{ action.modified_by }}
                    </td>
                    <td>
	                	{% if user.is_authenticated %}
                        <div>
                            {% if action.enabled %}
                            <a href="#"
                               class="btn btn-primary btn-xs">
                                <span title="Enabled" class="glyphicon glyphicon-ok-circle"></span>
                            </a>
                            {% else %}
                            <a href="#"
                               class="btn btn-primary btn-xs">
                                <span title="Disabled" class="glyphicon glyphicon-ban-circle"></span>
                            </a>
                            {% endif %}
                            {% if action.automationid %}
                            <a href="{% url 'tasks:act_exec_script' pk=action.pk inv_pk=0 task_pk=0 ev_pk=0 evattr_pk=0%}"
                               class="btn btn-success btn-xs">
                                <span title="Run" class="glyphicon glyphicon-play"></span>
                            </a>
                            {% else %}
                            <a href="#"
                               class="btn btn-primary btn-xs">
                                <span title="No Automation" class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                            {% endif %}
                            <a href="{% url 'tasks:act_edit' pk=action.pk %}"
                               class="btn btn-warning btn-xs">
                                <span title="Edit" class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="{% url 'tasks:act_remove' pk=action.pk %}" title="delete" class="btn btn-danger btn-xs pull-right">
                                <span title="Delete" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                <span class="icon-label"></span>
                            </a>
                        </div>
                        {% endif %}

                    </td>
              </tr>
{% endfor %}
{% else %}
          <tr>
              <td colspan="11" class="text-center bg-warning">No Actions</td>
          </tr>
{% endif %}