{% extends "tasks/action_base.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/automation_detail.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% block ptitle %}Automations {{ automation.pk }}-{{ automation.name }}{% endblock %}

{% block actionslist_active %}active{% endblock actionslist_active%}

{% block preactions %}

{% endblock %}


{% block actions_content %}
    <div class="row">
        <!-- Left Investigation Info -->
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-primary">
                <header class = "panel-heading">
                    <div class="panel-title text-center">
                        <div class="btn-group inline pull-left">
                            <a href="{% url 'tasks:auto_create' %}?next1={{ request.get_full_path|urlencode }}"
                               class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-plus"></span>
                            New Automation Script
                            </a>
                        </div>
                        <strong>&nbsp;Automation Details | {{ automation.pk }}</strong>
                        <div class="btn-group inline ">
                            <div class="btn btn-warning btn-xs">
                            <a style="color:white" href="{% url 'tasks:auto_edit' pk=automation.pk %}?next1={{ request.get_full_path|urlencode }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Edit
                            </a>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="panel-body inv-panel-body">
                    <table class="table" id="automation-detail">
                        <tbody >
                            {% include 'tasks/automation_detail_table.html' %}
                        </tbody>
                    </table>
                    <a href="{% url 'tasks:act_exec_script' pk=automation.pk inv_pk=0 task_pk=0 ev_pk=0 evattr_pk=0 %}"
                       class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                    <a href="{% url 'tasks:auto_list' %}" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        <span>Automations list</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock actions_content %}
