<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/evidence_list_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% if object_list %}
{% for evidence in object_list %}
                <tr id="ev_{{evidence.pk}}">
                    <td>
                        <!--CSSREMOVED-->

                        <li class="dropdown" onclick="incrow({{evidence.pk}},'ev_','300px')">
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                            <!--<button class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                                <!--Dropdown -->
                                <!--<span class="caret"></span>-->
                            <!--</button>-->

                            <button class="btn btn-default btn-xs dropdown-toggle" onclick="filterFunction()" type="button" data-toggle="dropdown" role="button" aria-expanded="false">
                                {{ evidence.pk }}
                                <span class="caret"></span>
                            </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{% url 'tasks:ev_detail' pk=evidence.pk %}?next1={{ request.get_full_path|urlencode }}"
                                            class="btn btn-default btn-xs">
                                            Open&nbsp;
                                            <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="top" title="Open item"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'tasks:ev_edit' pk=evidence.pk %}?next1={{ request.get_full_path|urlencode }}"
                                          class="btn btn-default btn-xs">
                                          Edit&nbsp;
                                          <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Edit item"></span>
                                        </a>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#" class="btn btn-default btn-xs">Actions <span class="glyphicon glyphicon-chevron-right"></span></a>
                                        <ul class="dropdown-menu dropdown-content" id="myDropdown">
                                            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                                            {% for actid in actions %}
                                                {% if actid.scriptinput.pk != 2 %}
                                                    <li>
                                                        {% if evidence.task %}
                                                            {% if evidence.inv %}
                                                                <a href="{% url 'tasks:act_exec_script' pk=actid.pk inv_pk=evidence.inv.pk task_pk=evidence.task.pk ev_pk=evidence.pk evattr_pk=0%}?next1={{ request.get_full_path|urlencode }}">
                                                            {% else %}
                                                                <a href="{% url 'tasks:act_exec_script' pk=actid.pk inv_pk=0 task_pk=evidence.task.pk ev_pk=evidence.pk evattr_pk=0 %}?next1={{ request.get_full_path|urlencode }}">
                                                            {% endif %}
                                                                <span></span>
                                                                {{ actid.pk }} - {{ actid.title }} ({{ actid.outputtarget.shortname }})
                                                                </a>
                                                        {% else %}
                                                            {% if evidence.inv %}
                                                                <a href="{% url 'tasks:act_exec_script' pk=actid.pk inv_pk=evidence.inv.pk task_pk=0 ev_pk=evidence.pk evattr_pk=0 %}?next1={{ request.get_full_path|urlencode }}">
                                                            {% else %}
                                                                <a href="{% url 'tasks:act_exec_script' pk=actid.pk inv_pk=0 task_pk=0 ev_pk=evidence.pk evattr_pk=0 %}?next1={{ request.get_full_path|urlencode }}">
                                                            {% endif %}
                                                                <span></span>
                                                                {{ actid.pk }} - {{ actid.title }} ({{ actid.outputtarget.shortname }})
                                                                </a>
                                                        {% endif %}
                                                    </li>
                                                    <!--<li class="divider"></li>-->
                                                {% endif %}

                                                {% if evidence.fileRef %}
                                                        {% if actid.scriptinput.pk == 2 %}
                                                          <li>
                                                              {% if evidence.task %}
                                                                {% if evidence.inv %}
                                                                  <a href="{% url 'tasks:act_exec_script' pk=actid.pk inv_pk=evidence.inv.pk task_pk=evidence.task.pk ev_pk=evidence.pk evattr_pk=0 %}?next1={{ request.get_full_path|urlencode }}">
                                                                {% else %}
                                                                  <a href="{% url 'tasks:act_exec_script' pk=actid.pk inv_pk=0 task_pk=evidence.task.pk ev_pk=evidence.pk evattr_pk=0 %}?next1={{ request.get_full_path|urlencode }}">
                                                                {% endif %}
                                                                      <span></span>
                                                                      {{ actid.pk }} - {{ actid.title }} ({{ actid.outputtarget.shortname }})
                                                                  </a>
                                                              {% else %}
                                                                {% if evidence.inv %}
                                                                  <a href="{% url 'tasks:act_exec_script' pk=actid.pk inv_pk=evidence.inv.pk task_pk=0 ev_pk=evidence.pk evattr_pk=0 %}?next1={{ request.get_full_path|urlencode }}">
                                                                {% else %}
                                                                  <a href="{% url 'tasks:act_exec_script' pk=actid.pk inv_pk=0 task_pk=0 ev_pk=evidence.pk evattr_pk=0 %}?next1={{ request.get_full_path|urlencode }}">
                                                                {% endif %}
                                                                      <span></span>
                                                                      {{ actid.pk }} - {{ actid.title }} ({{ actid.outputtarget.shortname }})
                                                                  </a>
                                                              {% endif %}
                                                          </li>
                                                          <!--<li class="divider"></li>-->
                                                        {% endif %}
                                                {% endif %}

                                            {% endfor %}


                                    <!--</div>-->
                                        </ul>

                                    </li>
                                    <li>&nbsp;</li>
                                    <li>
                                          <a href="{% url 'tasks:ev_remove' pk=evidence.pk %}?next1={{ request.get_full_path|urlencode }}"
                                              class="btn btn-danger btn-xs">
                                          <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Edit item">
                                              Delete
                                          </span>
                                          </a>
                                    </li>
                                </ul>
                        </li> <!-- .dropdown -->

                    </td>
                    <td>
                        {{ evidence.user }}
                    </td>
                    <td>
                        {{ evidence.created_at|date:"Y/m/d H:i:s" }}
                    </td>
                    <td>
                        {{ evidence.created_by }}
                    </td>
                    <td>
                        {{ evidence.modified_at|date:"Y/m/d H:i:s" }}
                    </td>
                    <td>
                        {{ evidence.modified_by }}
                    </td>
                    <td>
                        {% if evidence.fileRef %}
<!--                            <a href="{{BASE_URL}}{{MEDIA_URL}}{{ evidence.fileRef.name }}"-->
<!--                                class="btn btn-default btn-xs" target="_blank">-->
<!--                                <span class="glyphicon glyphicon-floppy-disk">{{ evidence.fileName }}</span>-->
<!--                            </a>-->
                            {{ evidence.fileName }}
                            <a href="{% url 'tasks:get_file_raw' ev_pk=evidence.pk %}?next1={{ request.get_full_path|urlencode }}"
                                class="btn btn-default btn-xs" target="_blank">
                                <span class="glyphicon glyphicon-floppy-disk"> </span>
                            </a>
                            <a href="{% url 'tasks:get_file_zipped' ev_pk=evidence.pk %}?next1={{ request.get_full_path|urlencode }}"
                                class="btn btn-default btn-xs" target="_blank">
                                <span class="glyphicon glyphicon-compressed"> </span>
                            </a>
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>
                        {% if evidence.inv %}
                            <a class="badge" href="{% url 'invs:inv_detail' pk=evidence.inv.pk %}?next1={{ request.get_full_path|urlencode }}">
                                {{ evidence.inv }}
                            </a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if evidence.task %}
                            <a class="badge" href="{% url 'tasks:tsk_detail' pk=evidence.task.pk %}?next1={{ request.get_full_path|urlencode }}">
                                {{ evidence.task }}
                            </a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if evidence.prevev %}
                            <a class="badge" href="{% url 'tasks:ev_detail' pk=evidence.prevev.pk %}?next1={{ request.get_full_path|urlencode }}">
                                {{ evidence.prevev }}
                            </a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
              </tr>
{% endfor %}
{% else %}
          <tr>
            <td colspan="10" class="text-center bg-warning">No Evidences</td>
          </tr>
{% endif %}
