<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/evidence_detail__table.html
# Author            : Balazs Lendvay
# Date created      : 2019.11.04
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.11.04  Lendvay     1      Initial file
# **********************************************************************;
-->

                        <table class="table table-sm table-hover table-striped table-condensed" id="evidences-eve">
                            <thead>
                                <tr class="mylist-header">
                                    <th>EvidenceID</th>
                                    <th>Investigation</th>
                                    <th>Task</th>
                                    <th>Created on</th>
                                    <th>Created by</th>
                                    <th>Modified on</th>
                                    <th>Modified by</th>
                                    <th>Attachment</th>
                                    <th>Attributes</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% include "tasks/evidence_detail_tablebody.html" %}
                            </tbody>
                        </table>
