{% extends "tasks/evidence_base.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/evidence_detail.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->

{% block evidenceslist_active %}active{% endblock evidenceslist_active%}

{% block preevidences %}

{% endblock %}


{% block evidences_content %}
    <div class="row">

        <div class="col-md-12 col-md-12">
                <div class="panel panel-primary">
                    <div class = "panel-heading">
                        <div class="panel-title text-center">
                              <div class="btn-group inline pull-left">
                                <!--<div class="dropdown">-->

                                <!--</div>-->
                              </div>
                            <strong> Evidence # {{ evidence.pk }}</strong>
                        </div>
                    </div>

                    <div class="panel-body ev-panel-body">
                        <table class="table table-hover table-striped table-condensed" id="evidences-eve">
                            <thead>
                                <tr class="mylist-header">
                                    <th>EvidenceID</th>
                                    <th>Investigation</th>
                                    <th>Task</th>
                                    <th>Created on</th>
                                    <th>Created by</th>
                                    <th>Modified on</th>
                                    <th>Modified by</th>
                                    <th>Attachment</th>
                                    <th>Attributes</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% include "tasks/evidence_detail_table.html" %}
                            </tbody>
                        </table>
                        <a href="javascript:history.go(-1)" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            <span>Back</span>
                        </a>


                    </div>
                </div>


        </div>
    </div>

{% endblock %}
