{% extends "tasks/task_base.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/playbook_detail.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->

{% block taskslist_active %}active{% endblock taskslist_active%}

{% block pretasks %}

{% endblock %}


{% block tasks_content %}
<div class="col-md-12">
    <div class="row">
        <div class="col-sm-12">

                <div class="panel panel-primary">
                    <div class = "panel-heading">
                        <div class="panel-title text-center" >
                              <div class="btn-group inline pull-left">

                            <li class="dropdown">
                                <div>
                                <div class="btn-group">
                                 <button class="btn btn-default btn-xs dropdown-toggle dropdown-toggle-split" onclick="filterFunctionTask()" type="button" data-toggle="dropdown" role="button" aria-expanded="false">
                                    Actions <span class="caret"></span>
                                </button>

                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="{% url 'tasks:play_edit' pk=playbook.pk %}?next1={{ request.get_full_path|urlencode }}"
                                              class="btn btn-default btn-xs">
                                              Edit&nbsp;
                                              <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Edit item"></span>
                                            </a>
                                        </li>
                                        <li>&nbsp;</li>
                                        <li>
                                              <a href="{% url 'tasks:play_remove' pk=playbook.pk %}?next1={{ request.get_full_path|urlencode }}"
                                                  class="btn btn-danger btn-xs">
                                              <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Edit item">
                                                  Delete
                                              </span>
                                              </a>
                                        </li>
                                    </ul>
                                    </div>
                                </div>
                            </li> <!-- .dropdown -->

                              </div>
                            <strong> Playbook # {{ playbook.pk }} | {{ playbook.name }} | {{ user }} at {% now "Y/m/d H:i:s" %} (UTC)</strong>
                        </div>
                    </div>
                    <div class="panel-body inv-panel-body">
                        <table class="table table-hover table-striped table-condensed" id="investigations-inve">
                            <thead>
                                <tr class="mylist-header">
                                    <th>ID</th>
                                    <th>Investigation</th>
                                    <th>Owner</th>
                                    <th>Version</th>
                                    <th>Created on</th>
                                    <th>Created by</th>
                                    <th>Modified on</th>
                                    <th>Modified by</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% include "tasks/playbook_detail_table.html" %}
                            </tbody>
                        </table>

                    </div>
                </div>

        </div>
    </div>

    <div class="row">

        <!-- Right Investigation Info -->
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-primary">
                <div class = "panel-heading">
                    <div class="panel-title text-center">
                         <strong>&nbsp;Playbook Steps | {{ playbook.task_playbook.all.count }} item{{ playbook.task_playbook.all.count|pluralize }}</strong>
                    </div>
                </div>
                <div class="panel-body">

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ItemID</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>Owner</th>
                            <th>Created</th>
                            <th>Created By</th>
                            <th>Modified</th>
                            <th>Modified By</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                             {% include 'tasks/playbook_detail_playbookitem_table.html' %}
                        </tbody>
                    </table>
                        <a href="javascript:history.go(-1)" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            <span>Back</span>
                        </a>

                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <!-- Right Investigation Info -->
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-primary">
                <div class = "panel-heading">
                    <div class="panel-title text-center">
                        Graph
                    </div>
                </div>
                <div class="panel-body">
                    <img src="/media/graphs/pb_{{playbook.pk}}.png">
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock tasks_content %}
