<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/playbooktemplateitem_list_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% if object_list %}
{% for playbooktemplateitem in object_list %}
                <tr id="item-pbtmpit-{{playbooktemplateitem.pk}}">
                    <td>
                        <div class="dropdown" onclick="incrow({{playbooktemplateitem.pk}},'item-pbtmpit-','150px')">
                            <div class="btn-group">
                             <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" onclick="filterFunctionTask()" type="button" data-toggle="dropdown" role="button" aria-expanded="false">
                                {{ playbooktemplateitem.pk }} <span class="caret"></span>
                            </button>

                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{% url 'tasks:playittmp_detail' pk=playbooktemplateitem.pk %}?next1={{ request.get_full_path|urlencode }}"
                                           class="btn btn-secondary btn-sm btn-block text-left">
                                            <span class="fas fa-eye"></span>
                                            View
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'tasks:playittmp_edit' pk=playbooktemplateitem.pk %}?next1={{ request.get_full_path|urlencode }}"
                                          class="btn btn-secondary btn-sm btn-block text-left">
                                          <span class="fas fa-pen" data-toggle="tooltip" data-placement="top" title="Edit item"></span>
                                          Edit&nbsp;
                                        </a>
                                    </li>

                                    <li>&nbsp;</li>
                                    <li>
                                          <a href="{% url 'tasks:playittmp_remove' pk=playbooktemplateitem.pk %}?next1={{ request.get_full_path|urlencode }}"
                                              class="btn btn-secondary btn-sm btn-block text-danger font-weight-bold">
                                          <span class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Edit item">
                                          </span>
                                              Delete
                                          </a>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div> <!-- .dropdown -->


                    </td>
                    <td>
                        {% if playbooktemplateitem.playbooktemplateid %}
                        <a class="badge badge-secondary" href="{% url 'tasks:playtmp_detail' pk=playbooktemplateitem.playbooktemplateid.pk %}?next1={{ request.get_full_path|urlencode }}">
                            {{ playbooktemplateitem.playbooktemplateid.id }}-{{ playbooktemplateitem.playbooktemplateid.name }}
                        </a>
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>
                        {% if playbooktemplateitem.acttask %}
                            {{ playbooktemplateitem.acttask }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if playbooktemplateitem.nexttask %}
                            {{ playbooktemplateitem.nexttask }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <div class="container inv-index">
                            {{ task.description_html|safe }}

                        </div>
                    </td>
                    <td>
                        {{ playbooktemplateitem.user }}
                    </td>
                    <td>
                        {{ playbooktemplateitem.modified_at|date:"Y/m/d H:i:s" }}
                    </td>
                    <td>
                        {{ playbooktemplateitem.modified_by }}
                    </td>
              </tr>
{% endfor %}
{% else %}
          <tr>
            <td colspan="8" class="text-center bg-warning">No Tasks</td>
          </tr>
{% endif %}