{% extends "tasks/task_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/playbook_list.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% block task_alert %}
{% endblock task_alert %}

{% block task_buttons %}
                              {% if user.is_authenticated %}
                                <div class="dropdown">
                                    <button class="btn btn-outline-secondary dropdown-toggle" onclick="filterFunction()" type="button" data-toggle="dropdown">
                                        <span class="fas fa-plus"></span>
                                        New Playbook
                                    </button>
                                    <ul class="dropdown-menu dropdown-content" id="myDropdown">
                                        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                                        {% for ptmp in playbooktmp %}
                                          <li>
                                              <a href="{% url 'tasks:play_create' inv_pk=0 tmp_pk=ptmp.pk %}?next1={{ request.get_full_path|urlencode }}"
                                                   class="btn btn-secondary btn-sm btn-block text-left">
                                                  {{ ptmp.pk }} - {{ ptmp.name }}
                                              </a>
                                          </li>
                                          <!--<li class="divider"></li>-->
                                        {% endfor %}
                                    </ul>
                                </div>
                              {% endif %}
{% endblock task_buttons %}

{% block task_title %}
                        Playbook for {{ user }} at {% now "Y/m/d H:i:s" %} (UTC)
{% endblock task_title %}

{% block task_body %}
                    <table class="table table-sm table-hover display order-column" id="investigations-invi"

                        data-toggle="table"
                        data-classes="table table-no-bordered"
                        data-pagination="true"
                        data-search="true"
                        data-search-align="left"
                        data-pagination-h-align="left"
                        data-show-refresh="true"
                        data-show-toggle="true"
                        data-show-columns="true"
                        data-minimum-count-columns="2"
                        data-show-pagination-switch="true"
                        data-id-field="id"
                        data-page-list="[10, 25, 50, 100, ALL]"
                        data-show-footer="false"
                        data-side-pagination="client"
                        data-buttons-align="left"
                        >
                        <thead>
                        <tr>
                            <th data-field="id" data-sortable="true">ID</th>
                            <th data-field="name" data-sortable="true">Playbook</th>
                            <th data-field="owner" data-sortable="true">Owner</th>
                            <th data-field="version" data-sortable="true">Version</th>
                            <th data-field="inv" data-sortable="true">Investigation</th>
                            <th data-field="created" data-sortable="true">Created (UTC)</th>
                            <th data-field="createdby" data-sortable="true">Created by</th>
                            <th data-field="modified" data-sortable="true">Modified (UTC)</th>
                            <th data-field="modifiedby" data-sortable="true">Modified by</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% include 'tasks/playbook_list_table.html' %}
                        </tbody>
                    </table>

{% endblock task_body %}
