{% extends "tasks/task_base.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/playbook_detail.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->

{% block taskslist_active %}active{% endblock taskslist_active%}

{% block pretasks %}

{% endblock pretasks %}


{% block tasks_content %}
<div class="col-md-12">

    {% include 'tasks/playbook_detail_panels.html' %}

    <a href="javascript:history.go(-1)" class="btn btn-primary btn-sm">
        <span class="fas fa-arrow-left" aria-hidden="true"></span>
        <span>Back</span>
    </a>

</div>
{% endblock tasks_content %}
