<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/playbooktemplateitem_detail_template.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% if playbooktemplateitem.pk %}next
    <tr>
        <td><strong>ID</strong><br> {{ playbooktemplateitem.pk }} </td>
        <td><strong>Actual</strong><br> {{ playbooktemplateitem.acttask }} </td>
        <td><strong>Next</strong><br> {{ playbooktemplateitem.nexttask }} </td>
        <td><strong>Owner</strong><br> {{ playbooktemplateitem.user }}</td>
        <td></td>
        <td>
            <strong>Playbook Template</strong><br>
            <a class="badge"
               href="{% url 'tasks:playtmp_detail' pk=playbooktemplateitem.playbooktemplateid.pk %}?next1={{ request.get_full_path|urlencode }}">
                {{ playbooktemplateitem.playbooktemplateid }}
            </a>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="6"><strong>TBD</strong><br> modified created etc </td>
    </tr>
    <tr>
        <td colspan="6">
            <div class="row">
            <div class="container invdescription">
                <strong>Description</strong><br>
                {{ playbooktemplateitem.description_html|safe }}
            </div>
            </div>

        </td>
    </tr>
{% else %}
    <tr><td>No Header available!</td></tr>
{% endif %}