{% extends "tasks/task_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/playbooktemplateitem_detail.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% block task_alert %}
{% endblock task_alert %}

{% block task_buttons %}
                            <a href="{% url 'tasks:playittmp_edit' pk=playbooktemplateitem.pk %}#?next1={{ request.get_full_path|urlencode }}"
                                   class="btn btn-outline-secondary btn-sm">
                                    <span class="font-weight-bold">
                                        <i class="fas fa-pen"></i>
                                    </span>
                            Edit
                            </a>
{% endblock task_buttons %}

{% block task_title %}
                        Playbook Template Item Details | {{ playbooktemplateitem.pk }}
{% endblock task_title %}

{% block task_body %}
                    <table class="table table-sm" id="investigations-invh">
                        <tbody>
                            {% include 'tasks/playbooktemplateitem_detail_template.html' %}
                        </tbody>
                    </table>
{% endblock task_body %}
