{% extends "tasks/task_template_nonav.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/playbooktampleate_detail_graph.html
# Author            : Balazs Lendvay
# Date created      : 2019.10.19
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.10.19  Lendvay     1      Initial file
# **********************************************************************;
-->
{% block task_alert %}
{% endblock task_alert %}

{% block task_buttons %}
{% endblock task_buttons %}

{% block task_title %}
                        Graph
{% endblock task_title %}

{% block task_body %}
                    <img class="graph" src="/media/graphs/pbtmp_{{playbooktemplate.pk}}.png">
{% endblock task_body %}
