{% extends "tasks/task_base.html" %}

{% block taskslist_active %}active{% endblock taskslist_active %}

{% block pretasks %}
		{% if user.is_authenticated %}

	    {% endif %}
{% endblock %}

{% block tasks_content %}

<div class="row">
    <div class="col-sm-12">
        <div align="center">
            <div class="panel panel-primary">
                <div class = "panel-heading">
                    <div class="panel-title">
                          <div class="btn-group inline pull-left">
                              {% if user.is_authenticated %}
                                <div>
                                <a href="{% url 'tasks:playittmp_create' play_pk=0 %}?next1={{ request.get_full_path|urlencode }}" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                    New PlaybookTemplate Item
                                </a>
                                </div>

                              {% endif %}
                          </div>
                    </div>
                    <strong>&nbsp;Playbook Template Items for {{ user }} at {% now "Y/m/d H:i:s" %} (UTC)</strong>
                </div>

                <div class="panel-body inv-panel-body">

                        <table class="table table-hover display order-column" id="investigations-invi"

                        data-toggle="table"
                        data-classes="table table-no-bordered"
                        data-pagination="true"
                        data-search="true"

                        data-show-refresh="true"
                        data-show-toggle="true"
                        data-show-columns="true"
                        data-minimum-count-columns="2"
                        data-show-pagination-switch="true"
                        data-id-field="id"
                        data-page-list="[10, 25, 50, 100, ALL]"
                        data-show-footer="false"
                        data-side-pagination="client"
                        >
                        <thead>
                        <tr>
                            <th data-field="id" data-sortable="true">ID</th>
                            <th data-field="playbooktemplate" data-sortable="true">Playbook Template</th>
                            <th data-field="acttask" data-sortable="true">Actual</th>
                            <th data-field="nexttask" data-sortable="true">Next</th>
                            <th data-field="description" data-sortable="true" data-visible="false">Description</th>
                            <th data-field="owner" data-sortable="true">Owner</th>
                            <th data-field="modified_at" data-sortable="true">Modified</th>
                            <th data-field="modified_by" data-sortable="true">Modified By</th>
                        </tr>
                        </thead>
                        <tbody>
                                {% include 'tasks/playbooktemplateitem_list_table.html' %}
                        </tbody>
                    </table>


                    <div class="modal fade" id="modal-investigations-invi">
                      <div class="modal-dialog">
                        <div class="modal-content">

                        </div>
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock tasks_content %}
