<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/tasktemplate_list_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% if object_list %}
{% for tasktemplate in object_list %}
                <tr data-toggle="collapse" data-target="#mytasktemplates{{tasktemplate.pk}}" class="accordion-toggle" id="item-tasktmp-{{tasktemplate.pk}}">
                    <td>
                        <li class="dropdown" onclick="incrow({{tasktemplate.pk}},'item-tasktmp-','150px')">
                            <div>
                            <div class="btn-group">
                             <button class="btn btn-default btn-xs dropdown-toggle dropdown-toggle-split" onclick="filterFunctionTask()" type="button" data-toggle="dropdown" role="button" aria-expanded="false">
                                {{ tasktemplate.pk }} <span class="caret"></span>
                            </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{% url 'tasks:tmp_detail' pk=tasktemplate.pk %}?next1={{ request.get_full_path|urlencode }}"
                                           class="btn btn-default btn-xs">
                                            Open
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'tasks:tmp_edit' pk=tasktemplate.pk %}?next1={{ request.get_full_path|urlencode }}"
                                          class="btn btn-default btn-xs">
                                          Edit&nbsp;
                                          <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Edit item"></span>
                                        </a>
                                    </li>
                                    <li>&nbsp;</li>
                                    <li>
                                          <a href="{% url 'tasks:tmp_remove' pk=tasktemplate.pk %}?next1={{ request.get_full_path|urlencode }}"
                                              class="btn btn-danger btn-xs">
                                          <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Edit item">
                                              Delete
                                          </span>
                                          </a>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </li> <!-- .dropdown -->
                    </td>
                    <td>
                        {{ tasktemplate.tasktemplatename }}
                    </td>
                    <td>
                        {{ tasktemplate.title }}
                    </td>
                    <td>
                        {{ tasktemplate.enabled }}
                    </td>
                    <td>
                        {{ tasktemplate.category }}
                    </td>
                    <td>
                        {{ tasktemplate.created_at|date:"Y/m/d H:i:s" }}
                    </td>
                    <td>
                        {{ tasktemplate.modified_at|date:"Y/m/d H:i:s" }}
                    </td>
                    <td>
                        {{ tasktemplate.modified_by }}
                    </td>
                    <td>
                        {{ tasktemplate.user }}
                    </td>
                </tr>
                <tr >
                    <td colspan="8" class="hiddenRow">
                        <div class="accordian-body collapse" id="mytasktemplates{{tasktemplate.pk}}">
                            <div class="invdescription2" style="max-width:25vw">
                            {{ tasktemplate.description|safe }}
                            </div>
                        </div>
                    </td>
                </tr>

{% endfor %}
{% else %}
          <tr>
            <td colspan="8" class="text-center bg-warning">No Task Templates</td>
          </tr>
{% endif %}
