<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/task_detail_taskvar_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% if task.taskvar_task.all %}

{% for taskvar in task.taskvar_task.all %}
    <!-- Guardian authentication check -->
            <!-- |dictsortreversed:"id" -->
                <tr class="mylist-meta" style="background-color:#e6e6e6" id="item-{{ taskvar.pk }}">
                    <!-- e.g.: #item-7 -->
                  <td>
                      <a class="badge" href="{% url 'tasks:tvar_detail' pk=taskvar.pk %}?next1={{ request.get_full_path|urlencode }}">{{ taskvar.pk }}</a>
                  </td>
                  <td>
                      {{ taskvar.category }}
                  </td>
                  <td>
                      {{ taskvar.type }}
                  </td>
                  <td>
                      {{ taskvar.name }}
                  </td>
                  <td>
                      {{ taskvar.value }}
                  </td>
                  <td>
                      {{ taskvar.required }}
                  </td>
                  <td>
                      {{ taskvar.enabled }}
                  </td>
                  <td>
                      {{ taskvar.task }}
                  </td>
                  <td>
                      {% if taskvar.task.status.pk == 2 %}
                      Task Completed
                      {% else %}
                          <div>
                              <a href="{% url 'tasks:tvar_detail' pk=taskvar.pk %}?next1={{ request.get_full_path|urlencode }}"
                                  class="btn btn-success btn-xs">
                              <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="top" title="View item"></span>
                              </a>
                              <a href="{% url 'tasks:tvar_edit' pk=taskvar.pk %}?next1={{ request.get_full_path|urlencode }}"
                                  class="btn btn-warning btn-xs">
                              <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Edit item"></span>
                              </a>
                              <a href="{% url 'tasks:tvar_remove' pk=taskvar.pk %}?next1={{ request.get_full_path|urlencode }}"
                                  class="btn btn-danger btn-xs pull-right">
                              <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Edit item"></span>
                              </a>
                          </div>
                      {% endif %}
                  </td>
                </tr>

                <tr class="invev-detail">
                  <td colspan="9">{{ taskvar.description|safe }}</td>
                </tr>
{% endfor %}
{% else %}
          <tr>
            <td colspan="9" class="text-center bg-warning">No matching record found</td>
          </tr>
{% endif %}

