{% extends "tasks/task_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/task_list.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% block task_alert %}
{% endblock task_alert %}

{% block task_buttons %}
                              {% if user.is_authenticated %}
                                <!--<div>-->
                                <a href="{% url 'tasks:tsk_create' inv_pk=0 %}?next1={{ request.get_full_path|urlencode }}"
                                   class="btn btn-outline-secondary btn-sm">
                                    <span class="font-weight-bold">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                    New Task
                                </a>
                                <!--</div>-->

        <button type="button"
                class="btn btn-outline-secondary btn-sm"
                data-url="{% url 'tasks:tsk_addticketandclose' task_pk=992 %}">
          <span class="fas fa-plus"></span>
          New Evidence TBD
        </button>


                                &nbsp;
                                <div class="dropdown">
                                    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" onclick="filterFunction()" type="button" data-toggle="dropdown">
                                    <span class="font-weight-bold">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                        New from Template
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-content" id="myDropdown">
                                        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                                        {% for tc in templatecategories %}
                                          <li>
                                              <a href="{% url 'tasks:tmp_add' pk=tc.pk inv_pk=0 play_pk=0 %}?next1={{ request.get_full_path|urlencode }}"
                                                class="btn btn-secondary btn-sm btn-block text-left"
                                                >
                                                <span></span>
                                                  {{ tc.category }} - {{ tc.title }}
                                              </a>
                                          </li>
                                          <!--<li class="divider"></li>-->
                                        {% endfor %}
<!--</div>-->
                                                  </ul>
                                </div>
                              {% endif %}
{% endblock task_buttons %}

{% block task_title %}
                    Tasks for {{ user }} at {% now "Y/m/d H:i:s" %} (UTC)
{% endblock task_title %}

{% block task_body %}

                        <table class="table table-sm table-hover display order-column" id="investigations-invi"
                               style="min-height:45vh"
                        data-toggle="table"
                        data-classes="table table-no-bordered"
                        data-pagination="true"
                        data-pagination-h-align="left"
                        data-search="true"
                        data-search-align="left"

                        data-show-refresh="true"
                        data-show-toggle="true"
                        data-show-columns="true"
                        data-minimum-count-columns="2"
                        data-show-pagination-switch="true"
                        data-id-field="id"
                        data-page-list="[10, 25, 50, 100, ALL]"
                        data-show-footer="false"
                        data-side-pagination="client"
                        data-buttons-align="left"
                        >
                        <thead>
                        <tr>
                            <th data-field="id" data-sortable="true">Task ID</th>
                            <th data-field="name" data-sortable="true">Task Name</th>
                            <th data-field="desc" data-sortable="true" data-visible="false">Description</th>
                            <th data-field="stat" data-sortable="true">Status</th>
                            <th data-field="pri" data-sortable="true">Priority</th>
                            <th data-field="ass" data-sortable="true">Assigned</th>
                            <th data-field="playbook" data-sortable="true">Playbook</th>
                            <th data-field="start" data-sortable="true">Task Start</th>
                            <th data-field="cre" data-sortable="true">Created (UTC)</th>
                            <th data-field="mod" data-sortable="true">Modified (UTC)</th>
                            <th data-field="modby" data-sortable="true">Modified by</th>
                            <th data-field="par" data-sortable="true">Parent</th>
                        </tr>
                        </thead>
                        <tbody>
                                {% include 'tasks/task_list_table.html' %}
                        </tbody>
                    </table>
{% endblock task_body %}
