<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/tasktemplate_detail_relatedvar_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% if tasktemplate.taskvar_tasktemplate.all %}

{% for taskvar in tasktemplate.taskvar_tasktemplate.all %}
                <tr class="mylist-meta" style="background-color:#e6e6e6" id="item-{{ taskvar.pk }}">
                  <td>
                      <a class="badge" href="{% url 'tasks:tvar_detail' pk=taskvar.pk %}?next1={{ request.get_full_path|urlencode }}">{{ taskvar.pk }}</a>
                  </td>
                  <td>
                      {{ taskvar.category }}
                  </td>
                  <td>
                      {{ taskvar.type }}
                  </td>
                  <td>
                      {{ taskvar.name }}
                  </td>
                  <td>
                      {{ taskvar.value }}
                  </td>
                  <td>
                      {{ taskvar.required }}
                  </td>
                  <td>
                      {{ taskvar.enabled }}
                  </td>
                  <td>
                      {{ taskvar.task }}
                  </td>
                  <td>
                      <div>
                          <a href="{% url 'tasks:tvar_detail' pk=taskvar.pk %}?next1={{ request.get_full_path|urlencode }}"
                                  class="btn btn-success btn-xs">
                              <span class="fas fa-eye" data-toggle="tooltip" data-placement="top" title="View item"></span>
                          </a>
                          <a href="{% url 'tasks:tvar_edit' pk=taskvar.pk %}?next1={{ request.get_full_path|urlencode }}"
                                  class="btn btn-warning btn-xs">
                              <span class="fas fa-pen" data-toggle="tooltip" data-placement="top" title="Edit item"></span>
                          </a>
                          <a href="{% url 'tasks:tvar_remove' pk=taskvar.pk %}?next1={{ request.get_full_path|urlencode }}"
                                  class="btn btn-danger btn-xs">
                              <span class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Delete item"></span>
                          </a>
                      </div>
                  </td>
                </tr>
                <tr class="invev-detail">
                  <td colspan="9">{{ taskvar.description|safe }}</td>
                </tr>
{% endfor %}
{% else %}
          <tr>
            <td colspan="9" class="text-center bg-warning">No matching record found</td>
          </tr>
{% endif %}

