{% extends "tasks/task_base.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/taskvar_detail.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->

{% block taskslist_active %}active{% endblock taskslist_active%}

{% block pretasks %}

{% endblock %}

{% block tasks_content %}
    <div class="row">
        <!-- Left Investigation Info -->
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-primary">
                <header class = "panel-heading">
                    <div class="panel-title text-center">
                        <div class="btn-group inline pull-left">
                        </div>
                        <strong>&nbsp;Task Variable Details | {{ taskvar.pk }}</strong>
                        <div class="btn-group inline ">
                            <a href="{% url 'tasks:tvar_edit' pk=taskvar.pk %}#?next1={{ request.get_full_path|urlencode }}" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Edit
                            </a>
                        </div>
                    </div>
                </header>
                <div class="panel-body inv-panel-body" id="xxx">
                    <table class="table" id="investigations-invh">
                        <tbody>
                            {% include 'tasks/taskvar_detail_template.html' %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock tasks_content %}
