{% extends "configuration/configuration_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : configuration/configuration_logging.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->

{% block configuration_alert %}
{% endblock configuration_alert %}

{% block configuration_buttons %}
{% endblock configuration_buttons %}

{% block configuration_title %}
			Logging settings
{% endblock configuration_title %}

{% block configuration_body %}
			Welcome to the Logging Page!
{% endblock configuration_body %}

