<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : configuration/connectionitem_detail_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.08.11
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.08.11  Lendvay     1      Initial file
# **********************************************************************;
-->

{% if connectionitem.pk %}
    <tr>
        <td><strong>Connection Item ID</strong><br> {{ connectionitem.pk }} </td>
    </tr>
    <tr>
        <td><strong>Name</strong><br> {{ connectionitem.name }} </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="row">
            <div class="container invdescription2">
                <strong>Description</strong>
                {{ connectionitem.description_html|safe }}
            </div>
            </div>
        </td>
    </tr>
{% else %}
    <tr><td colspan="2">No Data available!</td></tr>
{% endif %}
