{% extends "configuration/configuration_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : configuration/connectionitemfield_detail.html
# Author            : Balazs Lendvay
# Date created      : 2019.08.11
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.08.11  Lendvay     1      Initial file
# **********************************************************************;
-->

{% block configuration_alert %}
{% endblock configuration_alert %}

{% block configuration_buttons %}
                            <a href="{% url 'configuration:connitemf_create' %}?next1={{ request.get_full_path|urlencode }}"
                                   class="btn btn-outline-secondary btn-sm">
                                    <span class="font-weight-bold">
                                        <i class="fas fa-plus"></i>
                                    </span>
                            New Connection Item Field
                            </a>
                            <a href="{% url 'configuration:connitemf_edit' pk=connectionitemfield.pk %}?next1={{ request.get_full_path|urlencode }}"
                                   class="btn btn-outline-secondary btn-sm">
                                    <span class="font-weight-bold">
                                        <i class="fas fa-pen"></i>
                                    </span>
                            Edit
                            </a>
{% endblock configuration_buttons %}

{% block configuration_title %}
                        Connection Item Field Details | {{ connectionitemfield.pk }}
{% endblock configuration_title %}

{% block configuration_body %}
                    <table class="table tbale-sm" id="connectionitem-detail">
                        <tbody >
                            {% include 'configuration/connectionitemfield_detail_table.html' %}
                        </tbody>
                    </table>
                    <a href="{% url 'configuration:connitemf_list' %}" class="btn btn-primary pull-right">
                        <span class="fas fa-arrow-left" aria-hidden="true"></span>
                        <span>Connection Item Field list</span>
                    </a>
{% endblock configuration_body %}
