{% extends "configuration/configuration_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : configuration/settingsuser_list.html
# Author            : Balazs Lendvay
# Date created      : 2020.02.10
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2020.02.10  Lendvay     1      Initial file
# **********************************************************************;
-->
{% block configuration_alert %}
{% endblock configuration_alert %}

{% block configuration_buttons %}
{% endblock configuration_buttons %}

{% block configuration_title %}
                        User Settings list at {% now "Y/m/d H:i:s" %} (UTC)
{% endblock configuration_title %}

{% block configuration_body %}
                    <table class="table table-sm table-hover display order-column" id="investigations-invi"
                           style="min-height:45vh"
                        data-toggle="table"
                        data-classes="table table-no-bordered"
                        data-pagination="true"
                        data-pagination-h-align="left"
                        data-search="true"
                        data-search-align="left"
                        data-show-refresh="true"
                        data-show-toggle="true"
                        data-show-columns="true"
                        data-minimum-count-columns="2"
                        data-show-pagination-switch="true"
                        data-id-field="id"
                        data-page-list="[10, 25, 50, 100, ALL]"
                        data-show-footer="false"
                        data-side-pagination="client"
                        data-sort-name="title"
                        data-buttons-align="left"
                    >
                        <thead>
                        <tr>
                            <th data-field="id" data-sortable="true">ID</th>
                            <th data-field="name" data-sortable="true">Name</th>
                            <th data-field="value" data-sortable="true">Value</th>
                            <th data-field="category" data-sortable="true">Category</th>
                            <th data-field="enabled" data-sortable="true">Status</th>
                            <th data-field="actions" data-sortable="false">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% include 'configuration/settingsuser_list_table.html' %}
                        </tbody>
                    </table>
{% endblock configuration_body %}
