<!DOCTYPE html>
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : base.html
# Author            : Balazs Lendvay
# Date created      : 2019.08.14
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# 2019.08.14  Lendvay     1      Added automation
# **********************************************************************;
-->

{% load staticfiles %}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>bCIRT | {% block ptitle %}{% endblock %}</title>

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'bCIRT/css/pre_master.css'%}"/>

    <!-- Custom JavaScript -->
    <script src="{% static 'bCIRT/js/pre_master.js'%}" type="text/javascript" ></script>

    <!-- Latest compiled and minified JavaScript jquery FIRST -->
    <script src="{% static 'bCIRT/jquery-3.2.1/jquery-3.2.1.min.js' %}"></script>

    <script src="{% static 'bCIRT/jquery-ui-tabs-1.12.1/jquery-ui.min.js' %}"></script>

    <!-- Compiled and minified CSS Bootstrap3 -->
    <link rel="stylesheet" type="text/css" href="{% static 'bCIRT/bootstrap-3.3.7/css/bootstrap.min.css' %}" />

    <!-- Optional theme Bootstrap3 -->
    <link rel="stylesheet" type="text/css" href="{% static 'bCIRT/bootstrap-3.3.7/css/bootstrap-theme.min.css' %}" />

    <!--#Bootstrap table-->
    <link rel="stylesheet" type="text/css" href="{% static 'bCIRT/bootstrap-table-1.13.1/bootstrap-table.min.css' %}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bCIRT/fontawesome-free-5.6.3-web/css/all.css' %}"/>

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'bCIRT/css/master.css'%}"/>

    <!-- Latest compiled and minified JavaScript Bootstrap3 -->
    <script src="{% static 'bCIRT/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top mynav" role="navigation" id="navbar">
        <div class="container-fluid">

            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand mynav" href="{% url 'home' %}">bCIRT</a>
            </div>


            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
<!--
Menu - dropdown
-->
                    <li class="dropdown {% block invs_active %}{% endblock invs_active%}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;
                            Investigations
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'invs:inv_suspiciousemail' %}"><span class="glyphicon glyphicon-plus"></span> SuspiciousEmail</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'invs:inv_create' %}"><span class="glyphicon glyphicon-plus"></span> New</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'invs:inv_list' %}"><span class="glyphicon glyphicon-th-list"></span> List</a></li>
                        </ul>
                    </li>

                    <li class="dropdown {% block tasks_active %}{% endblock tasks_active%}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;
                            Tasks
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'tasks:tsk_create' inv_pk=0 %}"><span class="glyphicon glyphicon-plus"></span>
                                New Task
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'tasks:playtmp_create' %}">
                                <span class="glyphicon glyphicon-plus"></span>
                                New Playbook Template
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'tasks:tsk_list' %}"><span class="glyphicon glyphicon-th-list"></span>
                                Tasks
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'tasks:tmp_list' %}"><span class="glyphicon glyphicon-th-list"></span>
                                Task Templates
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'tasks:tvar_list' %}"><span class="glyphicon glyphicon-th-list"></span>
                                Task Variables
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'tasks:play_list' %}"><span class="glyphicon glyphicon-th-list"></span>
                                Playbooks
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'tasks:playtmp_list' %}"><span class="glyphicon glyphicon-th-list"></span>
                                Playbook Templates
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'tasks:playittmp_list' %}"><span class="glyphicon glyphicon-th-list"></span>
                                Playbook Template Items
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="dropdown {% block evidences_active %}{% endblock evidences_active%}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;
                            Evidences
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'tasks:ev_create' inv_pk=0 task_pk=0 %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    New Evidence
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'tasks:evattr_create' pk=0 %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    New Attribute
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'tasks:ev_list' %}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    Evidences
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'tasks:evattr_list' %}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    Attributes
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown {% block actions_active %}{% endblock actions_active%}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon glyphicon-play-circle" aria-hidden="true"></span>&nbsp;
                            Actions
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'tasks:act_create' %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    New Action
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'tasks:auto_create' %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    New Automation
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'tasks:act_list' %}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    Actions
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'tasks:actgrp_list' %}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    ActionGroups
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'tasks:actgrpmem_list' %}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    ActionGroupMembers
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'tasks:auto_list' %}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    Automations
                                </a>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </li>

                    <li class="dropdown {% block assets_active %}{% endblock assets_active%}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;
                            Assets
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'assets:prof_list' %}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    Profiles
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'assets:host_list' %}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    Hosts
                                </a>
                            </li>
                        </ul>
                    </li>


                </ul>


                <!--
                timeout script
                -->
                <script>
                function start_countdown()
                {
                 var counter=60*60;
                 myVar= setInterval(function()
                 {
                  if(counter>=0)
                  {
                   document.getElementById("countdown").innerHTML=counter;
                  }
                  if(counter==0)
                  {
                   $.ajax
                   ({
                     type:'get',
                     url:'{% url 'logout'%}?next={{request.path}}',
                     data:{
                      logout:"logout"
                     },
                     success:function(response)
                     {
                      window.location="";
                     }
                   });
                   }
                   counter--;
                 }, 1000)
                }
                </script>
                <script>start_countdown();</script>
<!--
Search menu
-->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown {% block reports_active %}{% endblock reports_active%}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon glyphicon-signal" aria-hidden="true"></span>&nbsp;
                            Reports
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'reports:rep_dashboard' %}">
                                    <span class="glyphicon glyphicon-signal"></span>
                                    Dashboard
                                </a>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown {% block config_active %}{% endblock config_active%}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;
                            Config
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'configuration:conf_base' %}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    All Configuration
                                </a>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </li>

                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'accounts:logout' %}?next={{request.path}}">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                                &nbsp;{{ user.get_username }}(<span id="countdown"></span>)
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'accounts:login'%}?next={{request.path}}">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- Error Message end -->
        {% if messages %}
            <div class="row">
            {% for message in messages %}
                <div
                    {% if message.tags %} class="{{ message.tags }} alert alert-danger alert-dismissable fade in" role="alert" {% endif %}>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error! </strong>{{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
        <!-- Error Message end -->
    </nav>

<!--
Body contents
    -->
    <div class="container main" style="min-height:87vh">
        <div class="row">

            {% block title %}
            {% endblock %}

            {% block content %}
            {% endblock %}

        </div>
    </div>
    <div class="footer navbar-inverse fixed-bottom">
        <p>bCIRT {% include 'version.html' %} | Balazs Lendvay</p>
    </div>
</body>
    <script type="text/javascript" src="{% static 'bCIRT/popper/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bCIRT/bootstrap-table-1.13.1/bootstrap-table.min.js' %}"></script>

  <!-- Custom JavaScript -->
    <script src="{% static 'bCIRT/js/master.js'%}" type="text/javascript" ></script>
</html>