{% extends "base.html"  %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <p><strong>My Investigations ({{ invs.count }})</strong></p>
                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Status</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for inv in invs %}
                        <tr data-toggle="collapse" data-target="#myinvs{{inv.pk}}" class="accordion-toggle">
                            <td>
                                <a class="badge" href="{% url 'invs:inv_detail' pk=inv.pk %}">{{ inv.invid }}</a>
                            </td>
                            <td>
                                {{ inv.status }}
                            </td>
                            <td>
                                {{ inv.modified_at|date:"Y/m/d H:i:s" }}
                            </td>
                        </tr>
                        <tr >
                            <td colspan="3" class="hiddenRow">
                                <div class="accordian-body collapse" id="myinvs{{inv.pk}}">
                                    <div class="invdescription2" style="max-width:25vw">
                                    {{ inv.description }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <p><strong>My Manual Tasks ({{ tasks.count }})</strong></p>
                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr data-toggle="collapse" data-target="#mytasks{{task.pk}}" class="accordion-toggle">
                            <td>
                                <a class="badge" href="{% url 'tasks:tsk_detail' pk=task.pk %}">{{ task.pk }}</a>
                            </td>
                            <td>
                                {{ task.title }}
                            </td>
                            <td>
                                {{ task.modified_at|date:"Y/m/d H:i:s" }}
                            </td>
                        </tr>
                        <tr >
                            <td colspan="3" class="hiddenRow">
                                <div class="accordian-body collapse" id="mytasks{{task.pk}}">
                                    <div class="invdescription2" style="max-width:25vw">
                                    {{ task.title }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <p><strong>Recently closed Tasks</strong></p>
                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in rtasks %}
                        <tr data-toggle="collapse" data-target="#mytasks{{task.pk}}" class="accordion-toggle">
                            <td>
                                <a class="badge" href="{% url 'tasks:tsk_detail' pk=task.pk %}">{{ task.pk }}</a>
                            </td>
                            <td>
                                {{ task.title }}
                            </td>
                            <td>
                                {{ task.modified_at|date:"Y/m/d H:i:s" }}
                            </td>
                        </tr>
                        <tr >
                            <td colspan="3" class="hiddenRow">
                                <div class="accordian-body collapse" id="myrtasks{{task.pk}}">
                                    <div class="invdescription2" style="max-width:25vw">
                                    {{ task.title }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <p><strong>Unassigned Investigations ({{ uinvs.count }})</strong></p>
                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Status</th>
                            <th>Modified</th>
                            <th>Assign</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for uinv in uinvs %}
                        <tr data-toggle="collapse" data-target="#myuinvs{{uinv.pk}}" class="accordion-toggle">
                            <td>
                                <a class="badge" href="{% url 'invs:inv_detail' pk=uinv.pk %}">{{ uinv.invid }}</a>
                            </td>
                            <td>
                                {{ uinv.status }}
                            </td>
                            <td>
                                {{ uinv.modified_at|date:"Y/m/d H:i:s" }}
                            </td>
                            <td>
                                <a href="{% url 'invs:inv_assign' pk=uinv.pk %}?next1={{ request.get_full_path|urlencode }}" title="assign"
                                   class="btn btn-default btn-xs">
                                    <span class="icon-label">Assign</span>
                                </a>
                            </td>
                        </tr>
                        <tr >
                            <td colspan="4" class="hiddenRow">
                                <div class="accordian-body collapse" id="myuinvs{{uinv.pk}}">
                                    <div class="invdescription2" style="max-width:25vw">
                                    {{ uinv.description }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <p><strong>Unassigned Manual Tasks ({{ utasks.count }})</strong></p>
                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Modified</th>
                            <th>Assign</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for utask in utasks %}
                        <tr data-toggle="collapse" data-target="#myutasks{{utask.pk}}" class="accordion-toggle">
                            <td>
                                <a class="badge" href="{% url 'tasks:tsk_detail' pk=utask.pk %}">{{ utask.pk }}</a>
                            </td>
                            <td>
                                {{ utask.title }}
                            </td>
                            <td>
                                {{ utask.modified_at|date:"Y/m/d H:i:s" }}
                            </td>
                            <td>
                                <a href="{% url 'tasks:tsk_assign' pk=utask.pk %}?next1={{ request.get_full_path|urlencode }}" title="assign"
                                   class="btn btn-default btn-xs">
                                    <span class="icon-label">Assign</span>
                                </a>
                            </td>
                        </tr>
                        <tr >
                            <td colspan="4" class="hiddenRow">
                                <div class="accordian-body collapse" id="myutasks{{utask.pk}}">
                                    <div class="invdescription2" style="max-width:25vw">
                                    {{ utask.title }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <p><strong>TBD</strong></p>
            </div>		</div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <p><strong>Other Investigations ({{ oinvs.count }})</strong></p>
                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Owner</th>
                            <th>Status</th>
                            <th>Modified</th>
                            <th>Assign</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for oinv in oinvs %}
                        <tr data-toggle="collapse" data-target="#myoinvs{{oinv.pk}}" class="accordion-toggle">
                            <td>
                                <a class="badge" href="{% url 'invs:inv_detail' pk=oinv.pk %}">{{ oinv.invid }}</a>
                            </td>
                            <td>
                                {% if oinv.user %}
                                    {{ oinv.user }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {{ oinv.status }}
                            </td>
                            <td>
                                {{ oinv.modified_at|date:"Y/m/d H:i:s" }}
                            </td>
                            <td>
                                <a href="{% url 'invs:inv_assign' pk=oinv.pk %}?next1={{ request.get_full_path|urlencode }}" title="assign"
                                   class="btn btn-default btn-xs">
                                    <span class="icon-label">Assign</span>
                                </a>
                            </td>

                        </tr>
                        <tr >
                            <td colspan="3" class="hiddenRow">
                                <div class="accordian-body collapse" id="myoinvs{{oinv.pk}}">
                                    <div class="invdescription2" style="max-width:25vw">
                                    {{ oinv.description }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <p><strong>Other Manual Tasks ({{ otasks.count }})</strong></p>
                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Owner</th>
                            <th>Title</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for otask in otasks %}
                        <tr data-toggle="collapse" data-target="#myotasks{{otask.pk}}" class="accordion-toggle">
                            <td>
                                <a class="badge" href="{% url 'tasks:tsk_detail' pk=otask.pk %}">{{ otask.pk }}</a>
                            </td>
                            <td>
                                {% if otask.user %}
                                    {{ otask.user }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {{ otask.title }}
                            </td>
                            <td>
                                {{ otask.modified_at|date:"Y/m/d H:i:s" }}
                            </td>
                        </tr>
                        <tr >
                            <td colspan="3" class="hiddenRow">
                                <div class="accordian-body collapse" id="myotasks{{otask.pk}}">
                                    <div class="invdescription2" style="max-width:25vw">
                                    {{ otask.title }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <p><strong>TBD</strong></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
