body {
  margin: 0;
  overflow: hidden;
  background-color: white;
  color:black;
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy',cursive;
}

.myregister {
    max-width:500px;
}

.myfooter {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: gray;
  text-align: center;
}
