{% extends "base.html"  %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : accounts/account_login.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% load bootstrap4 %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center" style="margin:100px">
        <div class="card">
            <div class="card-header">
                <h3>Welcome</h3>
            </div>
            <div class="card-body">
                <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="username" id="id_username" data-pg-name="user">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="password" id="id_password" data-pg-name="password">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn float-left btn-sm btn-primary">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    <a href="{% url 'accounts:register' %}">Register</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'password_reset' %}">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
