<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : inv/inv_evidence_tab_evidences_observable_tablebody.html
# Author            : Balazs Lendvay
# Date created      : 2019.11.23
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.11.23  Lendvay     1      Initial file
# **********************************************************************;
-->
{% load getevidencedata %}
<!-- if inv.evidence_inv %}-->
<!--  for invevidence in inv.evidence_inv.all %}-->
{% if invevidences2 %}
 {% for invevidence in invevidences2 %}
<!--  for attr in invevidence.evattr_evidence.all %}-->
{% if invevidence.evidence_inv__pk %}
{% with invevidence.evidence_inv__pk|getattributelistvaluesbyevidence as attrlist %}
 {% if attrlist %}
    {% for attr in attrlist %}
        {% if attr.observable %}
            <tr>
              <td>
	                	{% if user.is_authenticated %}
                        <div class="row container mw-100 d-inline-flex justify-content-between flex-row align-items-center align-content-center flex-nowrap">
                            <a href="{% url 'tasks:evattr_edit' pk=attr.pk %}?next1={{ request.get_full_path|urlencode }}"
                               class="btn btn-warning btn-xs">
                                <span class="fa fa-pencil-alt"></span>
                            </a>
                            &nbsp;
                            <a href="{% url 'tasks:evattr_observabletoggle' pk=attr.pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ attr.ev.pk }}"
                                class="btn btn-outline-primary btn-xs">
                            {% if attr.observable %}
                                <span class="fa fa-eye-slash"></span>
                            {% endif %}
                            </a>
                            &nbsp;
                            <a href="{% url 'tasks:evattr_remove' pk=attr.pk %}?next1={{ request.get_full_path|urlencode }}"
                               class="btn btn-danger btn-xs">
                                <span class="fa fa-trash-alt"></span>
                            </a>

                        </div>
                        {% endif %}
              </td>
                <td>
                    <a class="" href="{% url 'tasks:evattr_detail' pk=attr.pk %}?next1={{ request.get_full_path|urlencode }}"
                        style="max-width: 800px;overflow: auto;text-overflow: word-wrap;overflow-wrap: break-word;"
                        >
                        <h6><span class="badge badge-pill badge-secondary">{{attr.pk}}</span></h6>
                    </a>
                </td>
              <td>
                    {% if attr.attr_reputation__pk == 1 %}
                        <span class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Unknown"></span>
                    {% else %}
                        {% if attr.attr_reputation__pk == 2 %}
                            <span class="fas fa-check-circle text-success" data-toggle="tooltip" data-placement="top" title="Clean"></span>
                        {% else %}
                            {% if attr.attr_reputation__pk == 3 %}
                                <span class="fas fa-exclamation-circle text-danger" data-toggle="tooltip" data-placement="top" title="Suspicious"></span>
                            {% else %}
                                {% if attr.attr_reputation__pk == 4 %}
                                    <span class="fas fa-bomb text-danger" data-toggle="tooltip" data-placement="top" title="Malicious"></span>
                                {% else %}
                                        <span data-toggle="tooltip" data-placement="top" title="-">-</span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {{ attr.attr_reputation__name }}
              </td>
                <td>
                    {% with attr.pk|getattributeintellistvaluesbypk as attrintellist %}
                        {% if attrintellist %}
                            {% for attrintel in attrintellist%}
                                {% if 'high' in attrintel.severity or 'critical' in attrintel.severity %}
                                    <span class="fas fa-bomb text-danger" data-toggle="tooltip" data-placement="top" title="High"></span>
                                    <span class="text-danger" title='{{attrintel.pk}} | {{attrintel.intelsource}} | {{attrintel.severity}} | {{attrintel.confidence}} | {{attrintel.state}} | {{attrintel.date_last|date:"Y/m/d H:i:s"}} | {{attrintel.itype}} | {{attrintel.source}} | {{attrintel.intelvalue}}'>
                                        {{ attrintel.severity}} - {{ attrintel.itype}}<br>
                                    </span>
                                {% elif 'medium' in attrintel.severity %}
                                    <span class="fas fa-exclamation-circle text-danger" data-toggle="tooltip" data-placement="top" title="Medium"></span>
                                    <span class="text-danger" title='{{attrintel.pk}} | {{attrintel.intelsource}} | {{attrintel.severity}} | {{attrintel.confidence}} | {{attrintel.state}} | {{attrintel.date_last|date:"Y/m/d H:i:s"}}  | {{attrintel.itype}} | {{attrintel.source}} | {{attrintel.intelvalue}}'>
                                        {{ attrintel.severity}} - {{ attrintel.itype}}<br>
                                    </span>
                                {% else %}
                                    <span class="" data-toggle="tooltip" data-placement="top" title="Low"></span>
                                    <span class="" title='{{attrintel.pk}} | {{attrintel.intelsource}} | {{attrintel.severity}} | {{attrintel.confidence}} | {{attrintel.state}} | {{attrintel.date_last|date:"Y/m/d H:i:s"}} | {{attrintel.itype}} | {{attrintel.source}} | {{attrintel.intelvalue}}'>
                                        {{ attrintel.severity}} - {{ attrintel.itype}}<br>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </td>

<!--                       style="max-width: 800px;overflow: auto;text-overflow: word-wrap;overflow-wrap: break-word;"-->

              <td>{{ attr.evattrformat__name }}</td>

                <td>
                    <div class="container mw-100 d-inline-flex justify-content-start flex-row align-items-center align-content-center flex">
                        <a class="" href="{% url 'tasks:evattr_detail' pk=attr.pk %}?next1={{ request.get_full_path|urlencode }}"
                        style="max-width: 800px;overflow: auto;text-overflow: word-wrap;overflow-wrap: break-word;"
                        >
                        <h6>
                            <span class="badge badge-pill badge-secondary" title="">{{ attr.evattrvalue }}</span>
                        </h6>
                        </a>
                    </div>
                </td>
                <td>
                    {% with attr.pk|getsameattributelistbyevidence as attribs %}
                            {% if attribs %}
                                <div class="dropdown">
                                        <button class="btn btn-warning btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                                {{ attribs|length }}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-content" id="myDropdownRelated">
                                                {% for sameitem in attribs %}
                                                    <li>
                                                            <a class="" href="{% url 'invs:inv_evidencetab' pk=sameitem.ev__inv__pk %}?next1={{ request.get_full_path|urlencode }}"
                                                               target="_blank"
                                                            >
                                                                <span class="badge badge-pill badge-warning">{{sameitem.ev__inv__pk}} {{ sameitem.user__username}}</span>
                                                            </a>
                                                    </li>
                                                {% endfor %}
                                    <!--</div>-->
                                        </ul>
                                    </div>
                            {% endif %}
                    {% endwith %}
                </td>
                <td>
                    {{ attr.modified_at|date:"Y/m/d H:i:s" }}
                </td>
                <td>
                    <a href="#item-inve{{ attr.ev.pk }}">
                        <h6><span class="badge badge-pill badge-secondary">{{ attr.ev__pk}}</span></h6>
                    </a>
                </td>
            </tr>
        {% endif %}
     {% endfor %}
{% endif %}
{% endwith %}
{% endif %}
{% endfor %}
{% else %}
<!-- empty %}-->
          <tr>
            <td colspan="9" class="text-center bg-warning">No matching record found</td>
          </tr>
{% endif %}
<!-- endfor %}-->
