{% extends "invs/inv_detail_tab_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : inv/inv_detail_tab_detail.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# 2019.09.06  Lendvay     2      Print preview in new window
# **********************************************************************;
-->

{% block invtmp_alert %}
{% endblock invtmp_alert %}

{% block invtmp_buttons %}
                            {% if user.is_authenticated %}
                                <div class="dropdown">
                                    <button class="test btn btn-outline-secondary btn-sm dropdown-toggle" onclick="filterFunctionInv()" type="button" data-toggle="dropdown" role="button" aria-expanded="false">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                        <ul class="dropdown-menu" role="menu">
                                            {% if inv.status.name != "Closed" %}
                                            <li>
                                                <a tabindex="-1" href="{% url 'tasks:ev_create' inv_pk=inv.pk task_pk=0 %}?next1={{ request.get_full_path|urlencode }}"
                                                      class="btn btn-secondary btn-sm btn-block text-left">
                                                  <span class="" data-toggle="tooltip" data-placement="top" title="New Evidence item">
                                                      <i class="fas fa-plus">&nbsp;</i>
                                                  </span>
                                                      New Evidence
                                                  </a>
                                            </li>
<!--                                            <li>&nbsp;</li>-->
                                            {% endif %}
                                            <li>
                                                <a tabindex="-1" href="{% url 'invs:inv_edit' pk=inv.pk %}?next1={{ request.get_full_path|urlencode }}"
                                                  class="btn btn-secondary btn-sm btn-block text-left">
                                                  <span class="" data-toggle="tooltip" data-placement="top" title="Edit Evidence item">
                                                      <i class="fas fa-pencil-alt">&nbsp;</i>
                                                  </span>
                                                      Edit
                                                </a>
                                            </li>
<!--                                            <li>&nbsp;</li>-->
                                            <li class="dropdown-submenu">
                                                <a tabindex="-1" href="#" class="btn btn-secondary btn-sm btn-block text-left">
                                                    <span class="">
                                                        <i class="fas fa-file-export"></i>
                                                    </span>
                                                        Export&nbsp;
                                                <i class="fas fa-caret-right"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-content">
                                                    <li>
                                                        <a tabindex="-1" href="{% url 'invs:inv_detail_print' pk=inv.pk %}?next1={{ request.get_full_path|urlencode }}" target="_blank"
                                                          class="btn btn-secondary btn-sm btn-block text-left">
                                                          <span data-toggle="tooltip" data-placement="top" title="Edit item">
                                                              <i class="fas fa-print"></i>
                                                          </span>
                                                              Print Preview
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a tabindex="-1" href="{% url 'invs:inv_export_files' pk=inv.pk %}?next1={{ request.get_full_path|urlencode }}"
                                                          class="btn btn-secondary btn-sm btn-block text-left">
                                                          <span class="" data-toggle="tooltip" data-placement="top" title="Edit Evidence item">
                                                              <i class="fas fa-save">&nbsp;</i>
                                                          </span>
                                                              Export Report and Files
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a tabindex="-1" href="{% url 'invs:inv_export' pk=inv.pk %}?next1={{ request.get_full_path|urlencode }}"
                                                          class="btn btn-secondary btn-sm btn-block text-left">
                                                          <span class="" data-toggle="tooltip" data-placement="top" title="Edit Evidence item">
                                                              <i class="fas fa-print">&nbsp;</i>
                                                          </span>
                                                              ExportDetailsJSON
                                                        </a>
                                                    </li>

                                                </ul>

                                            </li>
                                            <li>&nbsp;</li>
                                            <li>
                                                  <a tabindex="-1" href="{% url 'invs:inv_remove' pk=inv.pk %}?next1={{ request.get_full_path|urlencode }}"
                                                      class="btn btn-danger btn-sm btn-block">
                                                  <span class="font-weight-bold text-light" data-toggle="tooltip" data-placement="top" title="Delete item">
                                                      <i class="fas fa-trash-alt"></i>
                                                      Delete
                                                  </span>
                                                  </a>
                                            </li>
                                        </ul>
                                    </div> <!-- .dropdown -->
                            {% endif %}
{% endblock invtmp_buttons %}
{% block invtmp_title %}
&nbsp;Investigation Details | #{{ inv.id }} - {{ inv.invid }} | {{ user }} at {% now "Y/m/d H:i:s" %} (UTC)
{% endblock invtmp_title %}

{% block invtmp_body %}
                    <table class="table table-sm" id="investigations-invh">
                        <tbody>
                            {% include 'invs/inv_detail_tab_detail_table.html' %}
                        </tbody>
                    </table>
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>

{% endblock invtmp_body %}
