{% extends "base.html"  %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : configuration/configuration_update.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="well">
            <p><strong>Current version: {% include 'version.html' %}</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="well">
            <p><strong>Upload Update</strong></p>
            {% include 'configuration/configuration_form_upload.html' %}
        </div>
    </div>
</div>

{% endblock %}
