{% extends "configuration/configuration_base.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : configuration/configuration_logging.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->

{% block preconfiguration %}
<div class="container">
	<div class="col-md-12">
		<div class="content">
			<h2>Logging settings</h2>
			<p>Welcome to the Logging Page!</p>
		</div>
	</div>
{% endblock %}
{% block configuration_content %}
	<div class="col-md-12">
		<div class="list-group">
			Contents
		</div>
	</div>
</div>
{% endblock %}
