{% extends "configuration/configuration_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : configuration/connectionitemfield_list.html
# Author            : Balazs Lendvay
# Date created      : 2019.08.11
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.08.11  Lendvay     1      Initial file
# **********************************************************************;
-->
{% block configuration_alert %}
{% endblock configuration_alert %}

{% block configuration_buttons %}
                              {% if user.is_authenticated %}
                                <a href="{% url 'configuration:connitemf_create' %}"
                                   class="btn btn-outline-secondary btn-sm">
                                    <span class="font-weight-bold">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                    Connection Item Field
                                </a>
                              {% endif %}
{% endblock configuration_buttons %}

{% block configuration_title %}
                        Connection Item Field list at {% now "Y/m/d H:i:s" %} (UTC)
{% endblock configuration_title %}

{% block configuration_body %}
                    <table class="table table-sm table-hover display order-column" id="investigations-invi"
                           style="min-height:45vh"
                        data-toggle="table"
                        data-classes="table table-no-bordered"
                        data-pagination="true"
                        data-pagination-h-align="left"
                        data-search="true"
                        data-search-align="left"
                        data-show-refresh="true"
                        data-show-toggle="true"
                        data-show-columns="true"
                        data-minimum-count-columns="2"
                        data-show-pagination-switch="true"
                        data-id-field="id"
                        data-page-list="[10, 25, 50, 100, ALL]"
                        data-show-footer="false"
                        data-side-pagination="client"
                        data-sort-name="title"
                        data-buttons-align="left"
                    >
                        <thead>
                        <tr>
                            <th data-field="id" data-sortable="true">ID</th>
                            <th data-field="Connection" data-sortable="true">Connection</th>
                            <th data-field="Field" data-sortable="true">Connection Field</th>
                            <th data-field="actions" data-sortable="false">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% include 'configuration/connectionitemfield_list_table.html' %}
                        </tbody>
                    </table>
{% endblock configuration_body %}
