<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/actiongroupmember_list_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% if object_list %}
{% for actiongroupmember in object_list %}
                <tr>
                    <td>
                        <a class="badge badge-secondary" href="{% url 'tasks:actgrpmem_detail' pk=actiongroupmember.pk %}?next1={{ request.get_full_path|urlencode }}">
                            {{ actiongroupmember.pk }}
                        </a>
                    </td>
                    <td>
                        {{ actiongroupmember.actionid }}
                    </td>
                    <td>
                        {{ actiongroupmember.actiongroupid}}
                    </td>
                    <td>
	                	{% if user.is_authenticated %}
                        <div>
                            <a href="{% url 'tasks:actgrpmem_edit' pk=actiongroupmember.pk %}"
                               class="btn btn-warning btn-sm">
                                <span class="fas fa-pen"></span>
                            </a>
                            &nbsp;
                            <a href="{% url 'tasks:actgrpmem_remove' pk=actiongroupmember.pk %}" title="delete"
                               class="btn btn-danger btn-sm">
                                <span class="fas fa-trash-alt" aria-hidden="true"></span>
                                <span class="icon-label"></span>
                            </a>
                        </div>
                        {% endif %}
                    </td>
              </tr>
{% endfor %}
{% else %}
          <tr>
              <td colspan="11" class="text-center bg-warning">No ActionGroupMembers</td>
          </tr>
{% endif %}