<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/actionq_detail_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
    <tr>
        <td><strong>Action</strong><br>
            <a class="badge badge-secondary" href="{% url 'tasks:act_detail' pk=actionq.actionid.pk %}?next1={{ request.get_full_path|urlencode }}">
                {{ actionq.actionid.title }}
            </a>
        </td>
        <td><strong>Evidence</strong><br>
            {% if actionq.evid %}
                {% if actionq.oldevid %}
                    <a class="badge badge-secondary" href="{% url 'tasks:ev_detail' pk=actionq.oldevid.pk %}?next1={{ request.get_full_path|urlencode }}">
                        {{ actionq.oldevid.pk }}
                    </a>
                {% endif %}
                ->
                <a class="badge badge-secondary" href="{% url 'tasks:ev_detail' pk=actionq.evid.pk %}?next1={{ request.get_full_path|urlencode }}">
                    {{ actionq.evid.pk }}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td><strong>Task</strong><br>
            {% if actionq.taskid %}
                <a class="badge badge-secondary" href="{% url 'tasks:tsk_detail' pk=actionq.taskid.pk %}?next1={{ request.get_full_path|urlencode }}">
                    {{ actionq.taskid.title }}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td><strong>Investigation</strong><br>
            {% if actionq.invid %}
                <a class="badge badge-secondary" href="{% url 'invs:inv_detail' pk=actionq.invid.pk %}?next1={{ request.get_full_path|urlencode }}">
                    {{ actionq.invid }}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td><strong>ActionQ Related</strong><br>
            {% if actionq.parent %}
                <a class="badge badge-secondary" href="{% url 'tasks:actq_detail' pk=actionq.parent %}">
                    {{ actionq.parent }}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Status</strong><br> {{ actionq.status }}
        </td>
        <td>
            <strong>Created</strong><br> {{ actionq.created_at|date:"Y/m/d H:i:s" }}
        </td>
        <td>
            <strong>Created by</strong><br> {{ actionq.created_by }}
        </td>
        <td>
            <strong>PID</strong><br> {{ actionq.cmdpid }}
        </td>
        <td>
            <strong>Interpreter</strong><br> {{ actionq.actionid.script_type }}
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <div class="">
                <div class="invdescription">
                    <strong>Command Error</strong><br>
                    {{ actionq.cmderror }}
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <div class="">
                <div class="invdescription">
                    <strong>Arguments</strong><br>
                    {{ actionq.argument }}
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <div class="invdescription">
                <strong>Arguments Dynamic</strong><br>
                {% if actionq.argdyn %}
                    {{ actionq.argdyn }}
                {% else %}
                    -
                {% endif %}
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <div class="container invdescription">
                <strong>Full Command</strong><br>
                {{ actionq.command }}
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <div class="container invdescription">
                <strong>Output</strong><br>
                {{ actionq.cmdoutput|linebreaks }}
            </div>
        </td>
    </tr>
