<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/action_list_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% if object_list %}
{% for action in object_list %}
                <tr>
                    <td>
                        <a class="badge badge-secondary" href="{% url 'tasks:act_detail' pk=action.pk %}?next1={{ request.get_full_path|urlencode }}">{{ action.pk }}</a>
                    </td>
                    <td>
                        {{ action.user }}
                    </td>
                    <td>
                        {{ action.title }}
                    </td>
                    <td>
                        {{ action.automationid.type.name }}
                    </td>
                    <td>
                        {{ action.scriptinput }}
                    </td>
                    <td>
                        {{ action.outputtarget.name }}
                    </td>
                    <td>
                        {{ action.automationid.script_type.name }}
                    </td>
                    <td>
                        {{ action.created_at|date:"Y/m/d H:i:s" }}
                    </td>
                    <td>
                        {{ action.created_by }}
                    </td>
                    <td>
                        {{ action.modified_at|date:"Y/m/d H:i:s" }}
                    </td>
                    <td>
                        {{ action.modified_by }}
                    </td>
                    <td>
	                	{% if user.is_authenticated %}
                        <div>
                            {% if action.enabled %}
                                <a href="#"
                                  class="btn btn-outline-secondary btn-sm">
                                    <span class="font-weight-bold text-success" data-toggle="tooltip" data-placement="top" title="Enabled">
                                      <i class="fas fa-check-circle"></i>
                                    </span>
                                </a>
                            {% else %}
                                <a href="#"
                                  class="btn btn-outline-danger btn-sm">
                                    <span class="font-weight-bold text-danger" data-toggle="tooltip" data-placement="top" title="Disabled">
                                      <i class="fas fa-times-circle"></i>
                                    </span>
                                </a>
                            {% endif %}
                            {% if action.automationid %}
                                <a href="{% url 'tasks:act_exec_script' pk=action.pk inv_pk=0 task_pk=0 ev_pk=0 evattr_pk=0%}"
                                  class="btn btn-outline-secondary btn-sm">
                                    <span class="font-weight-bold text-success" data-toggle="tooltip" data-placement="top" title="Run">
                                      <i class="fas fa-play-circle"></i>
                                    </span>
                                </a>
                            {% else %}
                                <a href="#"
                                  class="btn btn-outline-secondary btn-sm">
                                    <span class="font-weight-bold text-danger" data-toggle="tooltip" data-placement="top" title="No automation">
                                      <i class="fas fa-minus-circle"></i>
                                    </span>
                                </a>
                            {% endif %}
                                <a href="{% url 'tasks:act_edit' pk=action.pk %}"
                                  class="btn btn-outline-secondary btn-sm">
                                    <span class="font-weight-bold text-primary" data-toggle="tooltip" data-placement="top" title="Edit">
                                      <i class="fas fa-pen"></i>
                                    </span>
                                </a>
                                <a href="{% url 'tasks:act_clone' pk=action.pk %}"
                                  class="btn btn-outline-secondary btn-sm">
                                    <span class="font-weight-bold text-primary" data-toggle="tooltip" data-placement="top" title="Clone">
                                      <i class="fas fa-clone"></i>
                                    </span>
                                </a>
                                <a href="{% url 'tasks:act_remove' pk=action.pk %}"
                                  class="btn btn-danger btn-sm">
                                    <span class="font-weight-bold text-light" data-toggle="tooltip" data-placement="top" title="Delete">
                                      <i class="fas fa-trash-alt"></i>
                                    </span>
                                </a>
                        </div>
                        {% endif %}
                    </td>
              </tr>
{% endfor %}
{% else %}
          <tr>
              <td colspan="11" class="text-center bg-warning">No Actions</td>
          </tr>
{% endif %}