<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/evidenceattr_list_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.11.06
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.11.06  Lendvay     1      Initial file
# 2020.06.12  Lendvay     1      Split table
# **********************************************************************;
-->
{% include 'tasks/evidenceattr_pagination_template.html' %}

                    <table class="table table-sm table-hover display order-column" id="ajax-table"
                           style="min-height:45vh;"
                    >
                        <thead>
                        <tr>
                            <th data-field="id">ID</th>
                            <th data-field="assigned">Assigned</th>
                            <th data-field="observable">Obsrv</th>
                            <th data-field="evidence">Evidence</th>
                            <th data-field="reputation">Reputation</th>
                            <th data-field="value">Value</th>
                            <th data-field="format">Type</th>
                            <th data-field="created">Created (UTC)</th>
                            <th data-field="createdby">Created by</th>
                            <th data-field="modified">Modified (UTC)</th>
                            <th data-field="modifiedby">Modified by</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% include 'tasks/evidenceattr_list_tablebody.html' %}
                        </tbody>
                    </table>
