{% extends "tasks/evidence_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/evidenceattr_detail.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% block evidencetmp_alert %}
{% endblock evidencetmp_alert %}

{% block evidencetmp_buttons %}
{% endblock evidencetmp_buttons %}

{% block evidencetmp_title %}
                             Evidence Attribute # {{ evidenceattr.pk }} | Evidence #{{ evidenceattr.ev.pk }}
{% endblock evidencetmp_title %}

{% block evidencetmp_body %}
                        <table class="table table-sm table-hover table-striped table-condensed" id="evidences-eve">
                            <thead>
                                <tr class="mylist-header">
                                    <th>EvidenceAttrID</th>
                                    <th>Assigned</th>
                                    <th>Evidence</th>
                                    <th>Type</th>
                                    <th>Value</th>
                                    <th>Created on</th>
                                    <th>Created by</th>
                                    <th>Modified on</th>
                                    <th>Modified by</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% include "tasks/evidenceattr_detail_table.html" %}
                            </tbody>
                        </table>
                        <a href="javascript:history.go(-1)"
                           class="btn btn-primary btn-sm">
                            <span class="fas fa-arrow-left" aria-hidden="true"></span>
                            <span>Cancel</span>
                        </a>
{% endblock evidencetmp_body %}
