{% extends "tasks/evidence_base.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/evidence_template.html
# Author            : Balazs Lendvay
# Date created      : 2019.10.17
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.10.17  Lendvay     1      Initial file
# **********************************************************************;
-->
{% block evidenceslist_active %}active{% endblock evidenceslist_active %}

{% block preevidences %}
    {% block evidencetmp_alert %}{% endblock evidencetmp_alert %}
{% endblock preevidences %}

{% block evidences_content %}
    <div class="row w-100">
        <div class="col-sm-12">
            <div class="card card-primary w-100">
                <div class="card-header text-primary">
                    <div class="row w-100">
                        <div class="card-title w-100">
                            <div class="container mw-100 d-inline-flex justify-content-start flex-row align-items-center align-content-center flex-nowrap">
                                    {% block evidencetmp_buttons %}{% endblock evidencetmp_buttons %}
                                <div class="container d-inline-flex flex-row align-items-center justify-content-center align-content-center flex-nowrap">
                                    <p class="h4">&nbsp;{% block evidencetmp_title %}{% endblock evidencetmp_title %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body inv-card-body">
                    {% block evidencetmp_body %}{% endblock evidencetmp_body %}
                </div>
            </div>
        </div>
    </div>

{% endblock evidences_content %}