{% extends "base.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/evidence_base.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->

{% block ptitle %}Evidences{% endblock %}

{% block evidences_active %}active{% endblock evidences_active %}

{% load bootstrap4 %}

{% block title %}{% endblock title %}

{% block content %}

    {% block preevidences %}{% endblock preevidences %}
    {% block evidences_content %}{% endblock evidences_content %}
    {% block postevidences %}{% endblock postevidences %}

{% endblock %}