<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/playbook_detail_playbookitem_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% if playbook.task_playbook.all %}

{% for playbookitem in playbook.task_playbook.all %}
    <!-- Guardian authentication check -->
            <!-- |dictsortreversed:"id" -->
                <tr class="mylist-meta" style="background-color:#e6e6e6" id="item-{{ playbookitem.pk }}">
                    <!-- e.g.: #item-7 -->
                  <td>
                      <a class="badge badge-secondary" href="{% url 'tasks:tsk_detail' pk=playbookitem.pk %}?next1={{ request.get_full_path|urlencode }}">
                          {{ playbookitem.pk }}
                      </a>
                  </td>
                  <td>
                      {{ playbookitem.title }}
                  </td>
                  <td>
                      {{ playbookitem.status }}
                  </td>
                  <td>
                      {{ playbookitem.user }}
                  </td>
                    <td>
                        {{ playbookitem.created_at|date:"Y/m/d H:i:s" }}
                    </td>
                    <td>
                        {{ playbookitem.created_by }}
                    </td>
                    <td>
                        {{ playbookitem.modified_at|date:"Y/m/d H:i:s" }}
                    </td>
                    <td>
                        {{ playbookitem.modified_by }}
                    </td>
                  <td>
                          <a href="{% url 'tasks:tsk_edit' pk=playbookitem.pk %}?next1={{ request.get_full_path|urlencode }}"
                              class="btn btn-warning btn-xs">
                          <span class="fas fa-pen" data-toggle="tooltip" data-placement="top" title="Edit item"></span>
                          </a>
                          <a href="{% url 'tasks:tsk_remove' pk=playbookitem.pk %}?next1={{ request.get_full_path|urlencode }}"
                              class="btn btn-danger btn-xs">
                          <span class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Edit item"></span>
                          </a>
                  </td>
                </tr>

                <tr class="invev-detail">
                  <td colspan="9">{{ playbookitem.description|safe }}</td>
                </tr>
{% endfor %}
{% else %}
          <tr>
            <td colspan="10" class="text-center bg-warning">No matching record found</td>
          </tr>
{% endif %}

