{% extends "tasks/task_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/playbooktemplateitem_list.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% block task_alert %}
{% endblock task_alert %}

{% block task_buttons %}
                              {% if user.is_authenticated %}
                                <div>
                                <a href="{% url 'tasks:playittmp_create' play_pk=0 %}?next1={{ request.get_full_path|urlencode }}"
                                   class="btn btn-outline-secondary btn-sm">
                                    <span class="font-weight-bold">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                    New PlaybookTemplate Item
                                </a>
                                </div>

                              {% endif %}
{% endblock task_buttons %}

{% block task_title %}
                    Playbook Template Items for {{ user }} at {% now "Y/m/d H:i:s" %} (UTC)
{% endblock task_title %}

{% block task_body %}
                        <table class="table table-sm table-hover display order-column" id="investigations-invi"

                        data-toggle="table"
                        data-classes="table table-no-bordered"
                        data-pagination="true"
                        data-pagination-h-align="left"
                        data-search="true"
                        data-search-align="left"
                        data-show-refresh="true"
                        data-show-toggle="true"
                        data-show-columns="true"
                        data-minimum-count-columns="2"
                        data-show-pagination-switch="true"
                        data-id-field="id"
                        data-page-list="[10, 25, 50, 100, ALL]"
                        data-show-footer="false"
                        data-side-pagination="client"
                        data-buttons-align="left"
                        >
                        <thead>
                        <tr>
                            <th data-field="id" data-sortable="true">ID</th>
                            <th data-field="playbooktemplate" data-sortable="true">Playbook Template</th>
                            <th data-field="acttask" data-sortable="true">Actual</th>
                            <th data-field="nexttask" data-sortable="true">Next</th>
                            <th data-field="description" data-sortable="true" data-visible="false">Description</th>
                            <th data-field="owner" data-sortable="true">Owner</th>
                            <th data-field="modified_at" data-sortable="true">Modified</th>
                            <th data-field="modified_by" data-sortable="true">Modified By</th>
                        </tr>
                        </thead>
                        <tbody>
                                {% include 'tasks/playbooktemplateitem_list_table.html' %}
                        </tbody>
                    </table>
{% endblock task_body %}
