{% extends "tasks/task_template_nonav.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/playbook_detail_steps.html
# Author            : Balazs Lendvay
# Date created      : 2019.10.19
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.10.19  Lendvay     1      Initial file
# **********************************************************************;
-->

{% block task_alert %}
{% endblock task_alert %}

{% block task_buttons %}
{% endblock task_buttons %}

{% block task_title %}
                         Playbook Steps | {{ playbook.task_playbook.all.count }} item{{ playbook.task_playbook.all.count|pluralize }}
{% endblock task_title %}

{% block task_body %}

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table table-hover table-sm">
                        <thead>
                        <tr>
                            <th>ItemID</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>Owner</th>
                            <th>Created</th>
                            <th>Created By</th>
                            <th>Modified</th>
                            <th>Modified By</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                             {% include 'tasks/playbook_detail_playbookitem_table.html' %}
                        </tbody>
                    </table>
{% endblock task_body %}
