<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : tasks/taskvar_detail_template.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% if taskvar.pk %}
    <tr>
        <td><strong>Name</strong><br> {{ taskvar.name }} </td>
        <td><strong>TaskVar ID</strong><br> {{ taskvar.pk }} </td>
        <td><strong>Category</strong><br> {{ taskvar.category }} </td>
        <td><strong>Required</strong><br> {{ taskvar.required }}</td>
        <td><strong>Enabled</strong><br> {{ taskvar.enabled }} </td>
        {% if taskvar.task %}
        <td>
            <strong>Task</strong><br>
            <a class="badge badge-secondary"
               href="{% url 'tasks:tsk_detail' pk=taskvar.task.pk %}?next1={{ request.get_full_path|urlencode }}">{{ taskvar.task }}
            </a>
        </td>
        {% elif taskvar.tasktemplate %}
        <td>
            <strong>Task Template</strong><br>
            <a class="badge badge-secondary"
               href="{% url 'tasks:tmp_detail' pk=taskvar.tasktemplate.pk %}?next1={{ request.get_full_path|urlencode }}">{{ taskvar.tasktemplate }}
            </a>
        </td>
        {% endif %}
    </tr>
    <tr>
        <td colspan="6"><strong>Value</strong><br> {{ taskvar.value }} </td>
    </tr>
    <tr>
        <td colspan="6">
            <div class="row">
            <div class="container invdescription">
                <strong>Description</strong><br>
                {{ taskvar.description_html|safe }}
            </div>
            </div>
        </td>
    </tr>
{% else %}
    <tr><td>No Header available!</td></tr>
{% endif %}