{% extends "base.html" %}
<!--https://www.techiediaries.com/python-django-ajax/-->
<!--https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html-->
<!--https://simpleisbetterthancomplex.com/tutorial/2016/11/15/how-to-implement-a-crud-using-ajax-and-json.html-->
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : assets/asset_base.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% block ptitle %}Assets{% endblock %}

{% block assets_active %}active{% endblock assets_active %}

{% load bootstrap4 %}

{% block title %}{% endblock title %}

{% block content %}

    {% block preassets %}{% endblock preassets %}
    {% block assets_content %}{% endblock assets_content %}
    {% block postassets %}{% endblock postassets %}

{% endblock %}