{% extends "assets/asset_base.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : assets/asset_template.html
# Author            : Balazs Lendvay
# Date created      : 2019.10.22
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.10.22  Lendvay     1      Initial file
# **********************************************************************;
-->
{% block assetslist_active %}active{% endblock assetslist_active%}

{% block preassets %}
    {% block asset_alert %}{% endblock asset_alert %}
{% endblock %}

{% block assets_content %}

    <div class="row w-100">
        <div class="col-sm-12">
            <div class="card card-primary w-100">
                <div class="card-header text-primary">
                    <div class="row w-100">
                        <div class="card-title w-100">
                            <div class="container mw-100 d-inline-flex justify-content-start flex-row align-items-center align-content-center flex-nowrap">
                                    {% block asset_buttons %}{% endblock asset_buttons %}
                                <div class="container d-inline-flex flex-row align-items-center justify-content-center align-content-center flex-nowrap">
                                    <p class="h4">&nbsp;{% block asset_title %}{% endblock asset_title %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body inv-card-body">
                    {% block asset_body %}{% endblock asset_body %}
                </div>
            </div>
        </div>
    </div>

{% endblock assets_content %}