<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : assets/host_detail_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
<!--https://makitweb.com/make-live-editable-table-with-jquery-ajax/-->
<!--https://www.jqueryscript.net/text/AJAX-Edit-In-Place-Plugin-jQuery-jeditable.html-->
<!--https://www.jqueryscript.net/text/Ajax-enabled-In-place-Editor-For-jQuery-doomEdit.html-->
<!--https://visiblydribbling.wordpress.com/2009/11/01/inline-editing-with-jquery-jeditable-and-django/-->
<!--https://stackoverflow.com/questions/56290703/django-edit-html-table-rows-and-update-database-->

                        <table class="table table-sm table-hover table-striped table-condensed" id="investigations-inve">
                            <thead>
                                <tr class="mylist-header">
                                    <th>HostID</th>
                                    <th>Host</th>
                                    <th>Hostnames</th>
                                    <th>IPs</th>
                                    <th>Investigation</th>
                                    <th>Task</th>
                                    <th>Created on</th>
                                    <th>Created by</th>
                                    <th>Modified on</th>
                                    <th>Modified by</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% include "assets/host_detail_tablebody.html" %}
                            </tbody>
                        </table>
