{% extends "assets/asset_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : assets/host_detail.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% block asset_alert %}
{% endblock asset_alert %}

{% block asset_buttons %}
{% endblock asset_buttons %}

{% block asset_title %}
                            Host # {{ host.pk }}
{% endblock asset_title %}

{% block asset_body %}
                        {% include 'assets/host_detail_table.html' %}
                        <a href="javascript:history.go(-1)" class="btn btn-primary btn-sm">
                            <span class="fas fa-arrow-left" aria-hidden="true"></span>
                            <span>Back</span>
                        </a>
{% endblock asset_body %}
