{% extends "assets/asset_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : assets/host_list.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% block asset_alert %}
{% endblock asset_alert %}

{% block asset_buttons %}
                          <div class="btn-group inline pull-left">
                              {% if user.is_authenticated %}
                                <button type="button"
                                        class="btn btn-outline-secondary btn-sm js-create-host"
                                        data-url="{% url 'assets:hostaj_create' %}">
                                  <span class="fas fa-plus"></span>
                                  New host
                                </button>
                              {% endif %}
                           </div>
{% endblock asset_buttons %}

{% block asset_title %}
                        Hosts for {{ user }} at {% now "Y/m/d H:i:s" %} (UTC)
{% endblock asset_title %}

{% block asset_body %}
                            {% include 'assets/host_list_table.html' %}
<!--<script>-->
<!--//script to allow TinyMCE in modal-->
<!--    $('#myModal').on('shown.bs.modal', function() {-->
<!--    $(document).off('focusin.modal');-->
<!--});-->
<!--</script>-->
{% endblock asset_body %}
