<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : assets/profile_list_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# 2020.06.14  Lendvay     2      Filter
# **********************************************************************;
-->
{% include 'assets/profile_pagination_template.html' %}
                    <table class="table table-sm table-hover display order-column" id="ajax-table"
                           style="min-height:45vh;"
                    >
                        <thead>
                        <tr>
                            <th data-field="id">ID</th>
                            <th data-field="username">Username</th>
                            <th data-field="userid">UserID</th>
                            <th data-field="email">email</th>
                            <th data-field="host">Host</th>
                            <th data-field="ip">IP</th>
                            <th data-field="inv">Inv</th>
                            <th data-field="created">Created (UTC)</th>
                            <th data-field="createdby">Created by</th>
                            <th data-field="modified">Modified (UTC)</th>
                            <th data-field="modifiedby">Modified by</th>
                            <th data-field="actions">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% include 'assets/profile_list_tablebody.html' %}
                        </tbody>
                    </table>
