{% extends "assets/asset_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : assets/profile_detail.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
{% block asset_alert %}
{% endblock asset_alert %}

{% block asset_buttons %}
{% endblock asset_buttons %}

{% block asset_title %}
                        Profile # {{ profile.pk }}
{% endblock asset_title %}

{% block asset_body %}
                    <table class="table table-sm table-hover table-striped table-condensed" id="investigations-inve">
                        <thead>
                            <tr class="mylist-header">
                                <th>ProfileID</th>
                                <th>Username</th>
                                <th>UserID</th>
                                <th>Email</th>
                                <th>Host</th>
                                <th>IP</th>
                                <th>Location</th>
                                <th>Department</th>
                                <th>Location Contact</th>
                                <th>Inv</th>
                                <th>Created on</th>
                                <th>Created by</th>
                                <th>Modified on</th>
                                <th>Modified by</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% include "assets/profile_detail_table.html" %}
                        </tbody>
                    </table>
                    <a href="javascript:history.go(-1)" class="btn btn-primary btn-sm">
                        <span class="fas fa-arrow-left" aria-hidden="true"></span>
                        <span>Back</span>
                    </a>
{% endblock asset_body %}
