{% extends "assets/asset_base.html" %}

{% block assets_content %}
<div class="container-fluid investigations-container">
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="alert alert-danger">Are you sure you want to delete this item and all attributes?
            <input class='btn btn-danger' type="submit" value="Delete" />
            <a href="javascript:history.go(-1)" class="btn btn-primary">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                <span>Cancel</span>
            </a>
                </div>
        </form>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class = "panel-heading">
                    <div class="panel-title text-center" >
                        <strong> Delete Host # {{ host.pk }}</strong>
                    </div>
                </div>
                <div class="panel-body inv-panel-body">
                    <table class="table table-hover table-striped table-condensed" id="investigations-inve">
                        <thead>
                            <tr class="mylist-header">
                                <th>HostID</th>
                                <th>Host</th>
                                <th>Hostnames</th>
                                <th>IPs</th>
                                <th>Investigation</th>
                                <th>Task</th>
                                <th>Created on</th>
                                <th>Created by</th>
                                <th>Modified on</th>
                                <th>Modified by</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% include "assets/host_detail_table.html" %}
                        </tbody>
                    </table>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input class='btn btn-danger' type="submit" value="Delete" />
                        <a href="javascript:history.go(-1)" class="btn btn-primary">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            <span>Cancel</span>
                        </a>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>



{% endblock assets_content %}