{% extends "invs/inv_base.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : inv/inv_form.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->

{% block invslist_active %}active{% endblock invslist_active %}

{% load bootstrap4 %}

<!-- BL start -->
{{ form.media }}
<!-- BL end -->

{% block preinvs %}
	<div class="container myregister">
    </div>
{% endblock preinvs %}

{% block invs_content %}
<div class="smooth-scroll list-unstyled w-100">
    <div class="container-fluid">
        <div class="row justify-content-center h-100">
            <div class="col-sm-2 col-md-10">
                <div class="card card-primary w-100">
                    <div class="card-header mycardheader">
                        <div class="card-title h-100">
                            <div class="col-6 mx-auto">
                                <div class="h3 font-weight-bold">
                                    Edit an Investigation
                                {% if inv.pk %}
                                    ({{ inv.pk }})
                                {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-body inv-card-body">
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'invs/inv_form_template.html' %}
                            <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="javascript:history.go(-1)" class="btn btn-primary">
                                        <span class="fas fa-array-left" aria-hidden="true"></span>
                                        <span>Back</span>
                                    </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-2">
                <div class="card-body">
                    <h3>Investigation Update?</h3>
                    <p>Investigation details can be created/updated using this form.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock invs_content %}