{% extends "invs/inv_base.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : inv/inv_detail.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# 2019.09.05  Lendvay     2      Minor fixes for opening evidences as default
# **********************************************************************;
-->
{% block ptitle %}Investigation #{{ inv.id }} - {{ inv.invid }} {% endblock %}

{% block invslist_active %}active{% endblock invslist_active%}

{% block preinvs %}

{% endblock %}

{% block invs_content %}
  <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->


  <script>
    // to create tabs splitting up the contents
      $( function() {
        $( "#tabs" ).tabs(
            {event: "click"}
        );
      } );
    // to remember the last active tab when navigating away
    jQuery(function($) {
        var index = 'qpsstats-active-tab';
        //  Define friendly data store name
        var dataStore = window.sessionStorage;
        var oldIndex = 0;
        //  Start magic!
        try {
            // getter: Fetch previous value
            oldIndex = dataStore.getItem(index);
        } catch(e) {}

        $( "#tabs" ).tabs({
            active: oldIndex,
            activate: function(event, ui) {
                //  Get future value
                var newIndex = ui.newTab.parent().children().index(ui.newTab);
                //  Set future value
                try {
                    dataStore.setItem( index, newIndex );
                } catch(e) {}
            }
        });
    });
  </script>


     <div class="container-fluid">
            <div class="row">




<style>
#myBtnTop {
//  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 5px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: gray; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 10px; /* Increase font size */
}

#myBtnBottom {
//  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 65px; /* Place the button below the other button */
  right: 5px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: gray; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 10px; /* Increase font size */
}

#myBtnTop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#myBtnBottom:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
</style>

<button onclick="topFunction()" id="myBtnTop" title="Go to top"><span class="glyphicon glyphicon-arrow-up"></span></button>
<button onclick="bottomFunction()" id="myBtnBottom" title="Go to bottom"><span class="glyphicon glyphicon-arrow-down"></span></button>

<script>
//Get the button:
mybuttontop = document.getElementById("myBtnTop");
mybuttonbottom = document.getElementById("myBtnBottom");
</script>




                    <div id="tabs">
                        <ul class="nav navbar-nav" >
                            <li>
                                <a class="nav-link text-danger" href="#tabs-1">
                                    <span><strong>Details</strong></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="#tabs-2">
                                    <span><strong>Profiles({{ inv.profile_inv.all.count }})</strong></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="#tabs-3">
                                    <span><strong>Playbooks({{ inv.playbook_inv.all.count }})</strong></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="#tabs-4">
                                    <span><strong>Tasks({{ inv.task_inv.all.count }}/{{inv.opentasklistprint}})</strong></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="#tabs-5">
                                    <span><strong>Evidences({{ inv.evidence_inv.count }})</strong></span>
                                </a>
                            </li>
                            <li>
                                <span class="navbar-text" style="color: black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong>Investigation: #{{ inv.id }} - {{ inv.invid }}</strong>
                                </span>
                            </li>
                        </ul>

                          <div id="tabs-1">
                            {% include 'invs/inv_detail_tab_detail.html' %}
                            {% include 'invs/inv_detail_tab_investigations.html' %}
                          </div>
                          <div id="tabs-2">
                            {% include 'invs/inv_detail_tab_profile.html' %}
                          </div>
                          <div id="tabs-3">
                              {% include 'invs/inv_detail_tab_playbooks.html' %}
                          </div>
                          <div id="tabs-4">
                            {% include 'invs/inv_detail_tab_tasks.html' %}
                          </div>
                          <div id="tabs-5">
                            {% include 'invs/inv_detail_tab_evidences.html' %}
                          </div>
                    </div>


            </div>
     </div>


<!--<div class="container-fluid investigations-container">-->
<!--</div>-->

{% endblock invs_content %}
