{% extends "invs/inv_detail_tab_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : inv/inv_detail_tab_playbooks.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
    <div class="row w-100">
        <div class="col-sm-12 col-md-12">
{% block invtmp_buttons %}
                            {% if user.is_authenticated %}
                            <div class="dropdown">
                                {% if inv.status.name != "Closed" %}
                                    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" onclick="filterFunctionPlay()" type="button" data-toggle="dropdown">
                                        <span class=""><i class="fas fa-plus"></i>
                                            &nbsp;New Playbook
                                        </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-content" id="myDropdownPlay">
                                        <input type="text" placeholder="Search.." id="myInputPlay" onkeyup="filterFunctionPlay()">
                                        {% for pb in playbooks %}
                                          <li>
                                              <a href="{% url 'tasks:play_create' inv_pk=inv.pk tmp_pk=pb.pk %}?next1={{ request.get_full_path|urlencode }}"
                                              class="btn btn-secondary btn-sm w-100 text-left">
                                                  <span></span>
                                                  {{ pb.pk }} - {{ pb.name }}
                                              </a>
                                          </li>
                                          <!--<li class="divider"></li>-->
                                        {% endfor %}
                                <!--</div>-->
                                    </ul>
                                    {% endif %}
                                </div>
                            {% endif %}
{% endblock invtmp_buttons %}

{% block invtmp_title %}
                                &nbsp;Related Playbooks | {{ inv.playbook_inv.all.count }} item{{ inv.playbook_inv.all.count|pluralize }} | {{ user }} at {% now "Y/m/d H:i:s" %} (UTC)
{% endblock invtmp_title %}

{% block invtmp_body %}
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    {% include 'invs/inv_detail_tab_playbooks_table.html' %}
{% endblock invtmp_body %}

        </div>

    </div>
