    <div class="row">

        <!-- Left Investigation Info -->
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-primary">
                <div class = "panel-heading">
                    <div class="panel-title text-center">
                        <div class="btn-group inline pull-left">
                            <li class="dropdown">
                                <button class="btn btn-default btn-xs dropdown-toggle" onclick="filterFunctionInv()" type="button" data-toggle="dropdown" role="button" aria-expanded="false">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                    <ul class="dropdown-menu" role="menu">
                                        {% if inv.status.name != "Closed" %}
                                        <li>
                                            <a href="{% url 'tasks:ev_create' inv_pk=inv.pk task_pk=0 %}?next1={{ request.get_full_path|urlencode }}"
                                               class="btn btn-default btn-xs">
                                            New Evidence
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        <li>
                                            <a href="{% url 'invs:inv_edit' pk=inv.pk %}?next1={{ request.get_full_path|urlencode }}"
                                              class="btn btn-default btn-xs">
                                              Edit
                                              <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Edit item">
                                            </span>
                                            </a>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#" class="btn btn-default btn-xs">Export PDF<span class="glyphicon glyphicon-export"></span></a>
                                            <ul class="dropdown-menu dropdown-content">
                                                <li>
                                                    <a href="{% url 'invs:inv_pdf' pk=inv.pk %}?next1={{ request.get_full_path|urlencode }}"
                                                      class="btn btn-default btn-xs">
                                                      Export Investigation
                                                      <span class="glyphicon glyphicon-export" data-toggle="tooltip" data-placement="top" title="Edit item">
                                                    </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'invs:inv_detail_print' pk=inv.pk %}?next1={{ request.get_full_path|urlencode }}"
                                                      class="btn btn-default btn-xs">
                                                      Print Preview
                                                      <span class="glyphicon glyphicon-export" data-toggle="tooltip" data-placement="top" title="Edit item">
                                                    </span>
                                                    </a>
                                                </li>
                                            </ul>

                                        </li>
                                        <li>&nbsp;</li>
                                        <li>
                                              <a href="{% url 'invs:inv_remove' pk=inv.pk %}?next1={{ request.get_full_path|urlencode }}"
                                                  class="btn btn-danger btn-xs">
                                              <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Edit item">
                                                  Delete
                                              </span>
                                              </a>
                                        </li>
                                    </ul>
                            </li> <!-- .dropdown -->



                        </div>
                        <strong>&nbsp;Investigation Details | {{ inv.id }}-{{ inv.invid }} | {{ user }} at {% now "Y/m/d H:i:s" %} (UTC)</strong>

                    </div>
                </div>
                <div class="panel-body inv-panel-body" id="xxx">
                    <table class="table" id="investigations-invh">
                        <tbody>
                            {% include 'invs/inv_detail_table.html' %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>