<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : inv/inv_detail_tab_investigations.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->
    <div class="row">

        <!-- Right Investigation Info -->
        <div class="col-sm-12 col-md-12">
            <div class="card card-primary w-100">
                <div class="card-header mycardheader">
                    <div class="card-title h-100">
                        <div class="row align-items-center justify-content-center h-100">
                            <p class="h4">&nbsp;Related Investigations</p>
                        </div>
                    </div>
                </div>
                <div class="card-body inv-card-body">

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th>IncID</th>
                            <th>Type</th>
                            <th>IncStatus</th>
                            <th>Created on</th>
                            <th>Created by</th>
                            <th>Modified on</th>
                            <th>Modified by</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% include 'invs/inv_detail_tab_relatedinv_table.html' %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>