    <div class="row">

    <!-- Left Investigation Info -->
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-primary">
            <header class = "panel-heading">
                <div class="panel-title text-center">
                    <strong>&nbsp;Investigation Details | {{ inv.invid }} | {{ user }} at {% now "Y/m/d H:i:s" %} (UTC)</strong>
                </div>
            </header>
            <div class="panel-body inv-panel-body" id="xxx">
                <table class="table" id="investigations-invh">
                    <tbody>
                        {% include 'invs/inv_detail_table_REPORT.html' %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </div>