<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>bCIRT{% block ptitle %}{% endblock %}</title>

</head>
<body>

    <style>

    @page {
        size: A4 landscape;
        margin: 3cm 2cm;
        @top-center {
            content: "bCIRT | {{user}} | {% now "Y/m/d H:i:s" %} (UTC)";
        }
        @bottom-right {
            content: "Page " counter(page) " of " counter(pages);
        }
    }

    .invdescription {
        width:900px;
        overflow-wrap:break-word;
    }
    .invdescription2 {
        width:800px;
        overflow-wrap:break-word;
    }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div id="tabs-1">
                {% include 'invs/inv_detail_tab_detail_REPORT.html' %}
                {% include 'invs/inv_detail_tab_investigations_REPORT.html' %}
            </div>
            <div id="tabs-2">
                {% include 'invs/inv_detail_tab_profile_REPORT.html' %}
            </div>
            <div id="tabs-3">
                {% include 'invs/inv_detail_tab_playbooks_REPORT.html' %}
            </div>
            <div id="tabs-4">
                {% include 'invs/inv_detail_tab_tasks_REPORT.html' %}
            </div>
            <div id="tabs-5">
                <p style="page-break-before: always" ></p>
                {% include 'invs/inv_detail_tab_evidences_REPORT.html' %}
            </div>
        </div>
    </div>

</body>

</html>