{% extends "invs/inv_base.html" %}
{% extends "invs/inv_detail_tab_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : inv/inv_list.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->

{% block invslist_active %}active{% endblock invslist_active %}

{% block preinvs %}
		{% if user.is_authenticated %}

	    {% endif %}
{% endblock %}

{% block invs_content %}
<div class="row">
    <div class="col-sm-12">
{% block inv_buttons %}
{% endblock inv_buttons %}

{% block inv_title %}

                    File Upload Menu
{% endblock inv_title %}

{% block inv_body %}
                    <form id="submitForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                            <label>Description:</label>
                            <input style="width:30%" type="text" name="description" value="Suspicious Email" placeholder="Short description"  class="form-control" >
                            <input style="width:30%" type="file" name="myfile"  class="form-control">
                            <button type="submit"  class="btn btn-md">Upload</button>

                    </form>

                    {% if uploaded_file_url %}
                      <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                    {% endif %}

                    <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock inv_body %}
    </div>
</div>

{% endblock %}