<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : inv/inv_detail_tab_detail_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# 2019.08.26  Lendvay     2      Rename file
# **********************************************************************;
-->
{% if inv.invid %}
    <tr>
        <td><strong>Investigation ID</strong><br> {{ inv.id }}-{{ inv.invid }} </td>
        <td><strong>Severity</strong><br> {{ inv.severity }} </td>
        <td><strong>Priority</strong><br> {{ inv.priority }} </td>
        <td><strong>Parent</strong><br> {{ inv.parent }} </td>
        <td><strong>Status</strong><br> {{ inv.status }} </td>
        <td><strong>Assigned to</strong><br> {{ inv.user }} </td>
        <td>
            <strong>Duration</strong><br>
            {% if inv.invduration %}
                {{ inv.invdurationprint }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2"><strong>Phase</strong><br> {{ inv.phase }} </td>
        <td colspan="2"><strong>Category</strong><br> {{ inv.category }} </td>
        <td colspan="1"><strong>Monetary Loss</strong><br> {{ inv.monetaryloss }} {{ inv.losscurrency }} </td>
        <td><strong>Investigation start</strong><br> {{ inv.starttime|date:"Y/m/d H:i:s" }} </td>
        <td><strong>Investigation end</strong><br>
            {% if inv.endtime %}
                {{ inv.endtime|date:"Y/m/d H:i:s" }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><strong>Reference</strong><br> {{ inv.refid }} </td>
        <td colspan="1"></td>
        <td><strong>Attack Vector</strong><br> {{ inv.attackvector }} </td>
        <td colspan="1"></td>
        <td><strong>Victim Count</strong><br> {{ inv.numofvictims }} </td>
        <td><strong>Modified on</strong><br> {{ inv.modified_at|date:"Y/m/d H:i:s" }} </td>
        <td><strong>Modified by</strong><br> {{ inv.modified_by }} </td>
    </tr>
    <tr>
        <td colspan="4"><strong>Comment</strong><br> {{ inv.comment }} </td>
        <td colspan="1"></td>
        <td><strong>Created on</strong><br> {{ inv.created_at|date:"Y/m/d H:i:s" }} </td>
        <td><strong>Created by</strong><br> {{ inv.created_by }} </td>
    </tr>
    <tr>
        <td colspan="7">
            <div class="row">
            <div class="container invdescription">
                <strong>Incident Description</strong><br>
                {{ inv.description_html|safe }}
            </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="7">
            <div class="row">
                <div class="container invdescription">
                <strong>Executive Summary</strong><br>
                {{ inv.summary|safe }}
                </div>
            </div>
        </td>
    </tr>
{% else %}
    <tr><td>No Header available!</td></tr>
{% endif %}