{% if inv.task_inv.count > 0 %}
{% for task in inv.task_inv.all %}
                <tr>
                    <td>
                        {{ task.pk }}
                    </td>
                    <td>
                        {{ task.title }}
                    </td>
                    <td>
                        {{ task.status }}
                    </td>
                    <td>
                        {% if task.playbook %}
                            {{ task.playbook }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {{ task.created_at|date:"Y/m/d H:i:s" }}
                    </td>
                    <td>
                        {{ task.created_by }}
                    </td>
                    <td>
                        {{ task.modified_at|date:"Y/m/d H:i:s" }}
                    </td>
                    <td>
                        {{ task.modified_by }}
                    </td>
              </tr>
{% endfor %}
{% else %}
          <tr>
            <td colspan="8" class="text-center bg-warning">No matching record found</td>
          </tr>
{% endif %}
