<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : inv/inv_detail_tab_detail_home_REPORT_v1.html
# Author            : Balazs Lendvay
# Date created      : 2019.11.23
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.11.23  Lendvay     1      Initial file
# **********************************************************************;
--><div align="center" class="printheader">
<strong>&nbsp;Investigation Details | {{ inv.id }}-{{ inv.invid }} | {{ user }} at {% now "Y/m/d H:i:s" %} (UTC)</strong>
</div>

<table class="bcirttable">
    <tbody>
        {% include 'invs/inv_detail_tab_detail_table.html' %}
    </tbody>
</table>


