<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : inv/inv_detail_tab_relatedinv_REPORT_v1.html
# Author            : Balazs Lendvay
# Date created      : 2019.11.23
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.11.23  Lendvay     1      Initial file
# **********************************************************************;
-->
<br>
<div align="center" class="printheader">
    <strong>&nbsp;Related Investigations </strong>
</div>
    <table class="bcirttable">
        <thead>
            <tr>
                <th>IncID</th>
                <th>Type</th>
                <th>IncStatus</th>
                <th>Created on</th>
                <th>Created by</th>
                <th>Modified on</th>
                <th>Modified by</th>
            </tr>
        </thead>
        <tbody>
            {% include 'invs/inv_detail_tab_relatedinv_tablebody_REPORT_v1.html' %}
            </tbody>
    </table>