<br>
<div align="center" class="printheader">
    <strong>&nbsp;Related Investigations </strong>
</div>
    <table class="bcirttable">
        <thead>
            <tr>
                <th>IncID</th>
                <th>Type</th>
                <th>IncStatus</th>
                <th>Created on</th>
                <th>Created by</th>
                <th>Modified on</th>
                <th>Modified by</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% include 'invs/inv_detail_relatedinv_table_REPORT_v1.html' %}
            </tbody>
    </table>