<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : inv/inv_detail_tab_playbooks_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# 2019.08.26  Lendvay     1      Rename file
# **********************************************************************;
-->
                    <table class="table table-hover table-sm">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Playbook</th>
                            <th>Version</th>
                            <th>Created on</th>
                            <th>Created by</th>
                            <th>Modified on</th>
                            <th>Modified by</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% include 'invs/inv_detail_tab_playbooks_tablebody.html' %}
                        </tbody>
                    </table>
