{% if inv.playbook_inv.count > 0 %}
{% for playbook in inv.playbook_inv.all %}
                <tr>
                    <td>
                        <a class="badge" href="{% url 'tasks:play_detail' pk=playbook.pk %}?next1={{ request.get_full_path|urlencode }}">
                            {{ playbook.pk }}
                        </a>
                    </td>
                    <td>
                        {{ playbook.name }}
                    </td>
                    <td>
                        {{ playbook.version }}
                    </td>
                    <td>
                        {{ playbook.created_at|date:"Y/m/d H:i:s" }}
                    </td>
                    <td>
                        {{ playbook.created_by }}
                    </td>
                    <td>
                        {{ playbook.modified_at|date:"Y/m/d H:i:s" }}
                    </td>
                    <td>
                        {{ playbook.modified_by }}
                    </td>
              </tr>
{% endfor %}
{% else %}
          <tr>
            <td colspan="8" class="text-center bg-warning">No matching record found</td>
          </tr>
{% endif %}