<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : inv/inv_evidence_tab_evidences_observable_table.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# 2019.09.05  Lendvay     2      Added observables fields
# 2019.11.23  Lendvay     2      Split table and tablebody
# **********************************************************************;
-->
                        <table class="table table-sm w-100">
                            <thead>
                                <tr class="text-wrap .border">
                                    <th scope="col">Actions</th>
                                    <th scope="col">#</th>
                                    <th scope="col">Reputation</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Value</th>
                                    <th scope="col">Already Seen</th>
                                    <th scope="col">Modified</th>
                                    <th scope="col">Evidence</th>
                                </tr>
                            </thead>
                        <tbody>
                            {% include 'invs/inv_detail_tab_evidences_observable_tablebody.html' %}
                        </tbody>
                        </table>
