<br>
<div align="center" class="printheader">

    <strong>&nbsp;Related Tasks | {{ inv.task_inv.all.count }} item{{ inv.task_inv.all.count|pluralize }} | {{ user }} at {% now "Y/m/d H:i:s" %} (UTC)</strong>
</div>
<table class="bcirttable">
    <thead>
    <tr>
        <th>Task ID</th>
        <th>Title</th>
        <th>Status</th>
        <th>Playbook</th>
        <th>Created on</th>
        <th>Created by</th>
        <th>Modified on</th>
        <th>Modified by</th>
    </tr>
    </thead>
    <tbody>
        {% include 'invs/inv_detail_task_table_REPORT_v1.html' %}
    </tbody>
</table>
