    <div class="row">

        <!-- Right Investigation Info -->
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-primary">
                <div class = "panel-heading">
                    <div class="panel-title text-center">
                         <strong>&nbsp;Victim Profiles | {{ inv.profile_inv.all.count }} item{{ inv.profile_inv.all.count|pluralize }} | {{ user }} at {% now "Y/m/d H:i:s" %} (UTC)</strong>
                    </div>
                </div>
                <div class="panel-body">

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Profile ID</th>
                            <th>Username</th>
                            <th>UserID</th>
                            <th>Email</th>
                            <th>Host</th>
                            <th>IP</th>
                            <th>Location</th>
                            <th>Modified on</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- include 'investigations/partial_investigations_incidents_list.html' %}-->
                            {% include 'invs/inv_detail_profile_table_REPORT.html' %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>