{% if inv.evidence_inv %}

{% for invevidence in inv.evidence_inv.all %}
    <!-- Guardian authentication check -->
            <!-- |dictsortreversed:"id" -->
                <tr class="mylist-meta" style="background-color:#e6e6e6" id="item-inve{{ invevidence.pk }}">
                   <!-- e.g.: #item-7 -->
                  <td>
                        <li class="dropdown" onclick="incrow({{invevidence.pk}},'item-invev-detail')">
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                            <!--<button class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                                <!--Dropdown -->
                                <!--<span class="caret"></span>-->
                            <!--</button>-->

                            <button class="btn btn-default btn-xs dropdown-toggle" onclick="filterFunctionEv()" type="button" data-toggle="dropdown" role="button" aria-expanded="false">
                                {{ invevidence.pk }}
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" role="menu">
                                {% if invevidence.inv.status.name != "Closed" %}
                                <li>
                                      <a href="{% url 'tasks:evattr_create' pk=invevidence.pk %}?next1={{ request.get_full_path|urlencode }}"
                                          class="btn btn-default btn-xs">
                                          Attribute
                                          <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="top" title="Edit item">
                                      </span>
                                      </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{% url 'tasks:ev_detail' pk=invevidence.pk %}?next1={{ request.get_full_path|urlencode }}"
                                        class="btn btn-default btn-xs">
                                        Open&nbsp;
                                        <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="top" title="Open item"></span>
                                    </a>
                                </li>
                                {% if invevidence.inv.status.name != "Closed" %}
                                <li>
                                    <a href="{% url 'tasks:ev_edit' pk=invevidence.pk %}?next1={{ request.get_full_path|urlencode }}"
                                      class="btn btn-default btn-xs">
                                      Edit&nbsp;
                                      <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Edit item"></span>
                                    </a>
                                </li>

                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#" class="btn btn-default btn-xs">Actions <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-content" id="myDropdownEv">
                                        <input type="text" placeholder="Search.." id="myInputEv" onkeyup="filterFunctionEv()">
                                        {% for actid in actions %}
                                            {% if actid.script_category.pk != 2 %}
                                                <li>
                                                    <a href="{% url 'tasks:act_exec_script' pk=actid.pk inv_pk=invevidence.inv.pk task_pk=0 ev_pk=invevidence.pk %}?next1={{ request.get_full_path|urlencode }}">
                                                    <span></span>
                                                    {{ actid.pk }} - {{ actid.title }} ({{ actid.outputtarget.shortname }})
                                                    </a>
                                                </li>
                                            <!--<li class="divider"></li>-->
                                            {% endif %}

                                            {% if invevidence.fileRef %}
                                                    {% if actid.script_category.pk == 2 %}
                                                      <li>
                                                          <a href="{% url 'tasks:act_exec_script' pk=actid.pk inv_pk=invevidence.inv.pk task_pk=0 ev_pk=invevidence.pk %}?next1={{ request.get_full_path|urlencode }}">
                                                          <span></span>
                                                          {{ actid.pk }} - {{ actid.title }} ({{ actid.outputtarget.shortname }})
                                                          </a>
                                                      </li>
                                                      <!--<li class="divider"></li>-->
                                                     {% endif %}
                                            {% endif %}

                                        {% endfor %}
                                <!--</div>-->
                                    </ul>
                                </li>
                                <li>&nbsp;</li>
                                <li>
                                      <a href="{% url 'tasks:ev_remove' pk=invevidence.pk %}?next1={{ request.get_full_path|urlencode }}"
                                          class="btn btn-danger btn-xs">
                                      <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Edit item">
                                          Delete
                                      </span>
                                      </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li> <!-- .dropdown -->



                  </td>
                  <td>
                      {{ invevidence.created_at|date:"Y/m/d H:i:s" }}
                  </td>
                  <td>
                      {{ invevidence.created_by }}
                  </td>
                  <td>
                       {{ invevidence.modified_at|date:"Y/m/d H:i:s" }}
                  </td>
                  <td>
                       {{ invevidence.modified_by }}
                  </td>
                  <td>
                        {% if invevidence.fileRef %}
<!--                            <a href="{{BASE_URL}}{{MEDIA_URL}}{{ evidence.fileRef.name }}"-->
<!--                                class="btn btn-default btn-xs" target="_blank">-->
<!--                                <span class="glyphicon glyphicon-floppy-disk">{{ evidence.fileName }}</span>-->
<!--                            </a>-->
                            {{ invevidence.fileName }}
                            <a href="{% url 'tasks:get_file_raw' ev_pk=invevidence.pk %}?next1={{ request.get_full_path|urlencode }}"
                                class="btn btn-default btn-xs" target="_blank">
                                <span class="glyphicon glyphicon-floppy-disk"> </span>
                            </a>
                            <a href="{% url 'tasks:get_file_zipped' ev_pk=invevidence.pk %}?next1={{ request.get_full_path|urlencode }}"
                                class="btn btn-default btn-xs" target="_blank">
                                <span class="glyphicon glyphicon-compressed"> </span>
                            </a>
                        {% else %}
                        -
                        {% endif %}
                  </td>
                  <td>
                      {% if invevidence.task %}
                      <a class="badge" href="{% url 'tasks:tsk_detail' pk=invevidence.task.pk %}?next1={{ request.get_full_path|urlencode }}">
                          {{ invevidence.task }}
                      </a>
                      {% else %}
                      -
                      {% endif %}
                  </td>
                    <td>
                        {% if invevidence.actionq_evidence.last %}
                            Action:
                            <a class="badge" href="{% url 'tasks:actq_detail' pk=invevidence.actionq_evidence.last.pk %}?next1={{ request.get_full_path|urlencode }}">
                                {{ invevidence.actionq_evidence.last }}
                            </a>
                        {% endif %}
                    </td>

                </tr>

                <tr class="invev-detail" id="item-invev-detail{{ invevidence.pk }}">
                  <td colspan="8">
                        {% if invevidence.evattr_evidence.all %}
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Attribute</th>
                                <th>Attribute Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for attr in invevidence.evattr_evidence.all %}
                                <tr id="item-attr-{{attr.pk}}">
                                    <td>
                                        <li class="btn btn-md">
                                            {% if attr.attr_automatic %}
                                                {% if attr.attr_reputation.pk == 1 %}
                                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Unknown">
                                                {% else %}
                                                    {% if attr.attr_reputation.pk == 2 %}
                                                        <span style="color:green;" class="glyphicon glyphicon-ok-sign" data-toggle="tooltip" data-placement="top" title="Clean">
                                                    {% else %}
                                                        {% if attr.attr_reputation.pk == 3 %}
                                                            <strong>
                                                            <span style="color:orange;" class="glyphicon glyphicon-alert" data-toggle="tooltip" data-placement="top" title="Suspicious">
                                                                </strong>
                                                        {% else %}
                                                            {% if attr.attr_reputation.pk == 4 %}
                                                                <span style="color:red;" class="glyphicon glyphicon-remove-sign" data-toggle="tooltip" data-placement="top" title="Malicious">
                                                            {% else %}
                                                                <span data-toggle="tooltip" data-placement="top" title="-">-
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                <span data-toggle="tooltip" data-placement="top" title="-">-
                                            {% endif %}
                                        </li>
                                            <!--Attribute dropdown-->
                                        <li class="dropdown" onclick="incrow({{attr.pk}},'item-attr-','200px')">
                                            <button class="btn btn-default btn-xs dropdown-toggle" onclick="filterFunctionEvAttr()" type="button" data-toggle="dropdown" role="button" aria-expanded="false">
                                                {{ attr.evattrformat }}
                                                <span class="caret"></span>
                                            </button>

                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="{% url 'tasks:evattr_create' pk=invevidence.pk %}?next1={{ request.get_full_path|urlencode }}"
                                                        class="btn btn-default btn-xs">
                                                        Attribute
                                                        <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="top" title="Edit item">
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'tasks:evattr_edit' pk=attr.pk %}?next1={{ request.get_full_path|urlencode }}"
                                                        class="btn btn-default btn-xs">
                                                        Edit
                                                        <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Edit item">
                                                        </span>
                                                    </a>
                                                </li>
                                            <li class="dropdown-submenu">
                                                <a tabindex="-1" href="#" class="btn btn-default btn-xs">Actions <span class="glyphicon glyphicon-chevron-right"></span></a>
                                                <ul class="dropdown-menu dropdown-content" id="myDropdownEvAttr">
                                                    <input type="text" placeholder="Search.." id="myInputEvAttr" onkeyup="filterFunctionEvAttr()">
                                                    {% for actid in actions %}
                                                        <li>
                                                            {% if invevidence.task %}
                                                                <a href="{% url 'tasks:act_exec_script' pk=actid.pk inv_pk=inv.pk task_pk=invevidence.task.pk ev_pk=invevidence.pk %}?attr={{attr.pk}}&next1={{ request.get_full_path|urlencode }}">
                                                            {% else %}
                                                                <a href="{% url 'tasks:act_exec_script' pk=actid.pk inv_pk=inv.pk task_pk=0 ev_pk=invevidence.pk %}?attr={{attr.pk}}&next1={{ request.get_full_path|urlencode }}">
                                                            {% endif %}
                                                                <span></span>
                                                                {{ actid.pk }} - {{ actid.title }} ({{ actid.outputtarget.shortname }})
                                                                </a>
                                                        </li>
                                                      <!--<li class="divider"></li>-->
                                                    {% endfor %}
                                        <!--</div>-->
                                                </ul>

                                            </li>
                                            <li>&nbsp;</li>
                                            <li>
                                                  <a href="{% url 'tasks:evattr_remove' pk=attr.pk %}?next1={{ request.get_full_path|urlencode }}"
                                                      class="btn btn-danger btn-xs">
                                                  <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Edit item">
                                                      Delete
                                                  </span>
                                                  </a>
                                            </li>
                                          </ul>
                                        </li> <!-- .dropdown -->
                                        <!--Attribute dropdown end-->

                                    </td>
                                    <td>
                                        <a class="badge" href="{% url 'tasks:evattr_detail' pk=attr.pk %}?next1={{ request.get_full_path|urlencode }}"
                                        style="max-width: 1100px;overflow: auto;text-overflow: word-wrap;overflow-wrap: break-word;">
<!--                                            style="max-width: 1100px;overflow: auto;">-->
<!--                                        style=" word-wrap: break-word; width: 200px; display: block; "-->

                                            {{ attr.evattrvalue }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                      <div class="invdescription2" style="max-width:1400px">
                        {% if invevidence.evidenceformat.pk == 2 %}
                            {{ invevidence.description|safe }}
                        {% else %}
                            {% if invevidence.evidenceformat.pk == 1 %}
                                {{ invevidence.description|linebreaks }}
                            {% else %}
                                Uknown evidence format!!!
                            {% endif %}
                        {% endif %}
                      </div>
                  </td>
                </tr>
        {% endfor %}
{% else %}
          <tr>
            <td colspan="8" class="text-center bg-warning">No matching record found</td>
          </tr>
{% endif %}

