<br>
<div align="center" class="printheader">
    <strong>&nbsp;Evidences |  {{ inv.evidence_inv.count }} item{{ inv.evidence_inv.count|pluralize }} | {{ user }} at {% now "Y/m/d H:i:s" %} (UTC)</strong>
</div>

    <table class="bcirttable">
        <thead>
            <tr>
                <th>EvidenceID</th>
                <th>Created on</th>
                <th>Created by</th>
                <th>Modified on</th>
                <th>Modified by</th>
                <th>Attachment</th>
                <th>Task</th>
                <th>Attributes</th>
            </tr>
        </thead>
        <tbody>
            {% include 'invs/inv_detail_evidence_table_REPORT_v1.html' %}
        <!--<tr><td colspan="8" style="min-height:400px">&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;</td></tr>-->
        </tbody>
    </table>
