{% extends "invs/inv_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : inv/inv_form.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# **********************************************************************;
-->

<!-- BL start -->
{{ form.media }}
<!-- BL end -->

{% block invtmp_alert %}
{% endblock invtmp_alert %}

{% block invtmp_buttons %}
{% endblock invtmp_buttons %}

{% block invtmp_title %}
                        Edit Investigation
                                {% if inv.pk %}
                                    ({{ inv.pk }})
                                {% endif %}
{% endblock invtmp_title %}

{% block invtmp_body %}
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}

                        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-sm">Save</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="javascript:history.go(-1)"
                                       class="btn btn-primary btn-sm">
                                        <span class="fas fa-arrow-left" aria-hidden="true"></span>
                                        <span>Cancel</span>
                                    </a>
                            </div>

                            {% include 'invs/inv_form_template.html' %}
                            <!--To redirect to the previous page-->
                            <input type="hidden" name="next" value="{{ request.GET.next1 }}">

                            <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-sm">Save</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="javascript:history.go(-1)"
                                       class="btn btn-primary btn-sm">
                                        <span class="fas fa-arrow-left" aria-hidden="true"></span>
                                        <span>Cancel</span>
                                    </a>
                            </div>
                        </form>
{% endblock invtmp_body %}