{% extends "invs/inv_detail_tab_template.html" %}
<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : inv/inv_detail_tab_evidences.html
# Author            : Balazs Lendvay
# Date created      : 2019.07.27
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.07.29  Lendvay     1      Initial file
# 2019.09.05  Lendvay     2      Added observable fields
# **********************************************************************;
-->

<div class="row w-100">
        <div class="col-sm-12">
{% block invtmp_buttons %}
                            {% if user.is_authenticated %}
                                {% if not inv.readonly %}
                                <!--<a href=" url 'investigationdetails_create' investigation.pk %}"-->
                                <a href="{% url 'tasks:ev_create' inv_pk=inv.pk task_pk=0 %}?next1={{ request.get_full_path|urlencode }}"
                                class="btn btn-outline-secondary btn-sm">
                                    <i class="fas fa-plus">&nbsp;</i>
                                    New Evidence
                                </a>

                                <button type="button"
                                        class="btn btn-outline-secondary btn-sm js-create-invev"
                                        data-url="{% url 'tasks:invevaj_create' inv_pk=inv.pk task_pk=0 %}">
                                  <span class="fas fa-plus"></span>
                                  New Evidence
                                </button>

                                {% endif %}
                            {% endif %}
{% endblock invtmp_buttons %}

{% block invtmp_title %}
                                &nbsp;Evidences |  {{ inv.evidence_inv.count }} item{{ inv.evidence_inv.count|pluralize }} | {{ user }} at {% now "Y/m/d H:i:s" %} (UTC)
{% endblock invtmp_title %}

{% block invtmp_body %}
                <div align="center"><h3><strong>Observables</strong></h3></div>
                            {% include 'invs/inv_detail_tab_evidences_observable_table.html' %}
    <!--                        data-pagination="false"-->
    <!--                        data-show-pagination-switch="true"-->
    <!--                        data-side-pagination="client"-->
    <!--                        data-pagination-h-align="left"-->
    <!--                        data-pagination-detail-h-align="right"-->
    <!--                        https://bootstrap-table.com/docs/api/table-options/#pagination-->
                        <div align="center"><h3><strong>Evidences</strong></h3></div>
                                {% include 'invs/inv_detail_tab_evidences_table.html' %}
                            <!--<tr><td colspan="8" style="min-height:400px">&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;</td></tr>-->
{% endblock invtmp_body %}
                    </div>
</div>
<div id="thebottom"></div>