<!--
# **********************************************************************;
# Project           : bCIRT
# License           : GPL-3.0
# Program name      : inv/inv_detail_tab_evidences_tablebody.html
# Author            : Balazs Lendvay
# Date created      : 2019.10.31
# Purpose           : Template file for the bCIRT
# Revision History  : v1
# Date        Author      Ref    Description
# 2019.10.31  Lendvay     1      Initial file
# **********************************************************************;
-->
{% load getevidencedata %}
{% load taskstatuscheck %}
<!-- for invevidence in inv.evidence_inv.all %}-->
{% with inv.readonly as invreadonly %}
{% with inv.opentasklist as inv_opentasklist %}
{% with actiongroups_attr as actiongroups_attr_with %}
{% for invevidence in invevidences %}
{% if invevidence.evidence_inv__pk %}
{% with invevidence.evidence_inv__pk|isevidencereadonly as invevidencetaskreadonly %}
            <!-- |dictsortreversed:"id" -->

                <tr class="mylist-meta" style="background-color:#e6e6e6" id="item-inve{{ invevidence.evidence_inv__pk }}">
                   <!-- e.g.: #item-7 -->
                  <td>
                        <div class="dropdown" onclick="incrow({{invevidence.evidence_inv__pk}},'item-invev-detail')">
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                            <!--<button class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                                <!--Dropdown -->
                                <!--<span class="caret"></span>-->
                            <!--</button>-->
                            <button class="btn btn-secondary btn-pills btn-sm dropdown-toggle" onclick="filterFunctionEv()" type="button" data-toggle="dropdown" role="button" aria-expanded="false">
                                {{ invevidence.evidence_inv__pk }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">

                                {% if not invreadonly %}
                                <li>
<!--                                    classic view-->
<!--                                    <a href="{% url 'tasks:ev_create' inv_pk=inv.pk task_pk=0 %}?next1={{ request.get_full_path|urlencode }}"-->
<!--                                    class="btn btn-secondary btn-sm btn-block text-left">-->
<!--                                        <i class="fas fa-plus">&nbsp;</i>-->
<!--                                        New Evidence-->
<!--                                    </a>-->
<!--                                    AJAX view-->
                                    <button type="button"
                                            class="btn btn-secondary btn-sm btn-block text-left js-create-invev"
                                            data-url="{% url 'tasks:invevaj_create' inv_pk=inv.pk task_pk=0 %}">
                                      <span class="fas fa-plus"></span>
                                      New Evidence
                                    </button>
                                </li>
                                {% endif %}
                                {% if not invreadonly and not invevidencetaskreadonly %}
                                <li>
                                      <a href="{% url 'tasks:evattr_create' pk=invevidence.evidence_inv__pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                          class="btn btn-secondary btn-sm btn-block text-left">
                                          <span data-toggle="tooltip" data-placement="top" title="New item">
                                              <i class="fas fa-plus">&nbsp;</i>
                                          Attribute
                                      </span>
                                      </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{% url 'tasks:ev_detail' pk=invevidence.evidence_inv__pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                        class="btn btn-secondary btn-sm btn-block text-left">
                                        <span data-toggle="tooltip" data-placement="top" title="Open item">
                                            <i class="fas fa-eye">&nbsp;</i>
                                            View
                                        </span>
                                    </a>
                                </li>
                                {% if not invreadonly and not invevidencetaskreadonly %}
                                <li>
<!--manual update button-->
                                    <!--                                    <a href="{% url 'tasks:ev_edit' pk=invevidence.evidence_inv__pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"-->
<!--                                      class="btn btn-secondary btn-sm btn-block text-left">-->
<!--                                      <span data-toggle="tooltip" data-placement="top" title="Edit item">-->
<!--                                            <i class="fas fa-pen">&nbsp;</i>-->
<!--                                              Edit-->
<!--                                      </span>-->
<!--                                    </a>-->
                                    <button type="button"
                                            class="btn btn-secondary btn-sm btn-block text-left js-update-invev"
                                            data-url="{% url 'tasks:invevaj_update' pk=invevidence.evidence_inv__pk %}">
                                      <span class="fas fa-pen"></span>
                                      Edit
                                    </button>

                                </li>
                                {% endif %}
                                <li class="dropdown-submenu">
                                    &nbsp;
                                    <a tabindex="-1" href="#" class="btn btn-secondary btn-sm btn-block text-left">
                                        Actions <span class="fa fa-chevron-right"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-content" id="myDropdownEv">
                                        <input type="text" placeholder="Search.." id="myInputEv" onkeyup="filterFunctionEv()">
                                        <a href="{% url 'assets:profile_autoadd' inv_pk=inv.pk evattr_pk=0 ev_pk=invevidence.evidence_inv__pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                        class="btn btn-info btn-sm btn-block text-left">
                                              I - Add Attributes To Profile
                                        </a>
                                        {% if actiongroups_desc %}
                                            {% for actiongroup in actiongroups_desc %}
                                                {% if actiongroup.pk %}
                                                  <li>
                                                      <a href="{% url 'tasks:act_exec_scriptgroup' pk=actiongroup.pk inv_pk=invevidence.pk task_pk=0 ev_pk=invevidence.evidence_inv__pk evattr_pk=0 %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                                      class="btn btn-primary btn-sm btn-block text-left">
                                                      <span></span>
                                                          G{{ actiongroup.pk}} - {{ actiongroup.name }}
                                                      </a>
                                                  </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if actiongroups_file %}
                                              {% if invevidence.evidence_inv__fileRef %}
                                                  {% for actiongroup in actiongroups_file %}
                                                    {% if actiongroup.pk %}
                                                      <li>
                                                          <a href="{% url 'tasks:act_exec_scriptgroup' pk=actiongroup.pk inv_pk=invevidence.pk task_pk=0 ev_pk=invevidence.evidence_inv__pk evattr_pk=0 %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                                          class="btn btn-primary btn-sm btn-block text-left">
                                                          <span></span>
                                                              G{{ actiongroup.pk}} - {{ actiongroup }}
                                                          </a>
                                                      </li>
                                                    {% endif %}
                                                  {% endfor %}
                                              {% endif %}
                                        {% endif %}
                                        {% for actid in actions %}
                                            {% if actid.scriptinput.pk == 1 %}
                                                <li>
                                                    <a href="{% url 'tasks:act_exec_script' pk=actid.pk inv_pk=invevidence.pk task_pk=0 ev_pk=invevidence.evidence_inv__pk evattr_pk=0 %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                                    class="btn btn-secondary btn-sm btn-block text-left">
                                                    <span></span>
                                                    {{ actid.pk }} - {{ actid.title }} ({{ actid.outputtarget.shortname }})
                                                    </a>
                                                </li>
                                            <!--<li class="divider"></li>-->
                                            {% elif actid.scriptinput.pk == 2 %}
                                                {% if invevidence.evidence_inv__fileRef %}
                                                      <li>
                                                          <a href="{% url 'tasks:act_exec_script' pk=actid.pk inv_pk=invevidence.pk task_pk=0 ev_pk=invevidence.evidence_inv__pk evattr_pk=0 %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                                          class="btn btn-secondary btn-sm btn-block text-left">
                                                          <span></span>
                                                          {{ actid.pk }} - {{ actid.title }} ({{ actid.outputtarget.shortname }})
                                                          </a>
                                                      </li>
                                                      <!--<li class="divider"></li>-->
                                                {% endif %}
                                            {% else %}
                                            {% endif %}
                                        {% endfor %}
                                <!--</div>-->
                                    </ul>
                                </li>
                                {% if not invreadonly and not invevidencetaskreadonly %}
                                    <li>&nbsp;</li>
                                    <li>
<!--                                        because of the modal need to redirect-->
<!--                                        <a href="{% url 'tasks:ev_remove' pk=invevidence.evidence_inv__pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"-->
                                        <a href="{% url 'tasks:ev_remove' pk=invevidence.evidence_inv__pk %}?next1=/invs/evidencetab/{{inv.pk}}/#thebottom"
                                            class="btn btn-secondary btn-sm btn-block">
                                            <span class="font-weight-bold text-danger" data-toggle="tooltip" data-placement="top" title="Delete item">
                                                <i class="fas fa-trash-alt"></i>
                                                Delete
                                            </span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div> <!-- .dropdown -->
                  </td>
                  <td>
                      {{ invevidence.evidence_inv__created_at|date:"Y/m/d H:i:s" }}
                  </td>
                  <td>
                      {{ invevidence.evidence_inv__created_by }}
                  </td>
                  <td>
                       {{ invevidence.evidence_inv__modified_at|date:"Y/m/d H:i:s" }}
                  </td>
                  <td>
                       {{ invevidence.evidence_inv__modified_by }}
                  </td>
                  <td>
                        {% if invevidence.evidence_inv__fileRef %}
                        <!--                            <a href="{{BASE_URL}}{{MEDIA_URL}}{{ evidence.fileRef.name }}"-->
                        <!--                                class="btn btn-default btn-sm" target="_blank">-->
                        <!--                                <span class="glyphicon glyphicon-floppy-disk">{{ evidence.fileName }}</span>-->
                        <!--                            </a>-->
                            {{ invevidence.evidence_inv__fileName }}
                            <a href="{% url 'tasks:get_file_raw' ev_pk=invevidence.evidence_inv__pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                class="btn btn-secondary btn-xs" target="_blank" title="Download">
                                <span class="fa fa-download"> </span>
                            </a>
                            <a href="{% url 'tasks:get_file_zipped' ev_pk=invevidence.evidence_inv__pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                class="btn btn-secondary btn-xs" target="_blank" title="Download zip">
                                <span class="fa fa-file-archive"> </span>
                            </a>
                        {% else %}
                        -
                        {% endif %}
                  </td>
                    <td>
                        <div class="row container mw-100 d-inline-flex justify-content-start flex-row align-items-center align-content-center flex-nowrap">
                            <div class="btn-group dropdown">
                            {% if invevidence.evidence_inv__task__title %}
                                <button class="btn btn-secondary btn-pills btn-sm dropdown-toggle" onclick="filterFunctionTaskSelect()"
                                        type="button" data-toggle="dropdown" role="button" aria-expanded="false"
                                        data-url="{% url 'tasks:tsk_detail' pk=invevidence.evidence_inv__task__pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}">
                                            {{ invevidence.evidence_inv__task__pk }} - {{ invevidence.evidence_inv__task__title }}
                                            {% if invevidencetaskreadonly %}
                                                <!--                            <h6><span class="badge badge-pill badge-secondary"></span></h6>-->
                                                <span class="fa fa-lock" title="Task Closed"></span>
                                            {% endif %}
                                </button>
                            {% else %}
                                <button class="btn btn-secondary btn-pills btn-sm dropdown-toggle" onclick="filterFunctionTaskSelect()"
                                        type="button" data-toggle="dropdown" role="button" aria-expanded="false">
                                            N/A
                                </button>
                            {% endif %}
                                <ul class="dropdown-menu dropdown-content" id="myDropdownTaskSelect" role="menu">
                                    <input type="text" placeholder="Search.." id="myInputTaskSelect" onkeyup="filterFunctionTaskSelect()">
                            {% if invevidence.evidence_inv__task__pk %}
                                    <li>
                                        <a href="{% url 'tasks:tsk_detail' pk=invevidence.evidence_inv__task__pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{invevidence.evidence_inv__pk}}"
                                            class="btn btn-secondary btn-sm btn-block text-left">
                                            <span data-toggle="tooltip" data-placement="top" title="Open item">
                                                <i class="fas fa-eye">&nbsp;</i>
                                                View
                                            </span>
                                        </a>
                                    </li>
                                    <div class="dropdown-divider"></div>
                            {% endif %}
{% if not invevidencetaskreadonly %}
                                    <li>
                                        <a href="{% url 'tasks:ev_taskassign' pk=invevidence.evidence_inv__pk task_pk=0 %}?next1={{ request.get_full_path|urlencode }}#item-inve{{invevidence.evidence_inv__pk}}"
                                        class="btn btn-warning btn-sm btn-block text-left"
                                        >
                                        <span></span>
                                        Unassign
                                        </a>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <strong>Reassign:</strong>
                                     {% for tc in inv_opentasklist %}
                                            <li>
                                                <a href="{% url 'tasks:ev_taskassign' pk=invevidence.evidence_inv__pk task_pk=tc.pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{invevidence.evidence_inv__pk}}"
                                                class="btn btn-secondary btn-sm btn-block text-left"
                                                >
                                                <span></span>
                                                {{ tc.pk }} - {{ tc.title }}
                                                </a>
                                            </li>
                                            <!--<li class="divider"></li>-->
                                    {% endfor %}
                                    <!--</div>-->
{% endif %}
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td>
                        MITRE&ATTCK: <strong>{{ invevidence.evidence_inv__mitretactic__name }}</strong>
                        <br>
                        Parent:
                        {% if invevidence.evidence_inv__parent__pk %}
                            <a href="{% url 'tasks:ev_detail' pk=invevidence.evidence_inv__parent__pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}">
                                <h6><span class="badge badge-pill badge-secondary">{{ invevidence.evidence_inv__parent__pk }}</span></h6>
                            </a>
                            {% if invevidence.evidence_inv__parentattr__pk %}
                                - <a href="{% url 'tasks:evattr_detail' pk=invevidence.evidence_inv__parentattr__pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}">
                                    <h6><span class="badge badge-pill badge-secondary">{{ invevidence.evidence_inv__parentattr__pk }}</span></h6>
                                </a>
                            {% endif %}
                        {% endif %}
                        <br>
                        Actions:
                            {% for oneaction in invevidence.evidence_inv__pk|getactionqlistbyevidence %}
                                <a href="{% url 'tasks:actq_detail' pk=oneaction.pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}">
                                    <h6><span class="badge badge-pill badge-secondary">{{ oneaction }}</span></h6>
                                </a>
                            {% endfor %}
                    </td>

                </tr>
                <tr class="invev-detail" id="item-invev-detail{{ invevidence.evidence_inv__pk }}">
                  <td colspan="8">

                        {% if invevidence %}
                            <table class="table table-bordered table-sm">
                                <thead>
                                <tr>
                                    <th>Attribute</th>
                                    <th>Attribute Value</th>
                                    <th>Already Seen</th>
                                </tr>
                                </thead>
                                <tbody>
{% with invevidence.evidence_inv__pk|getattributelistvaluesbyevidence as attrs%}
                                {% for attr in attrs %}
                                    <tr id="item-attr-{{attr.pk}}">
                                        <td>
                                            <div class="container mw-100 d-inline-flex justify-content-start flex-row align-items-center align-content-center flex-nowrap">
                                                <div class="btn btn-sm">
                                                    {% if attr %}
                                                        {% if attr.attr_reputation__pk == 1 %}
                                                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Unknown"></span>
                                                        {% else %}
                                                            {% if attr.attr_reputation__pk == 2 %}
                                                                <span style="color:green;" class="fa fa-check-circle" data-toggle="tooltip" data-placement="top" title="Clean"></span>
                                                            {% else %}
                                                                {% if attr.attr_reputation__pk == 3 %}
                                                                    <strong>
                                                                        <span class="fa fa-exclamation-circle text-danger" data-toggle="tooltip" data-placement="top" title="Suspicious"></span>
                                                                    </strong>
                                                                {% else %}
                                                                    {% if attr.attr_reputation__pk == 4 %}
                                                                    <span class="fa fa-bomb text-danger" data-toggle="tooltip" data-placement="top" title="Malicious"></span>
                                                                    {% else %}
                                                                    <span data-toggle="tooltip" data-placement="top" title="-">&nbsp;-&nbsp;</span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% else %}
                                                                    <span data-toggle="tooltip" data-placement="top" title="-">&nbsp;-&nbsp;</span>
                                                    {% endif %}
                                                </div>
                                                    <!--Attribute dropdown-->
                                                <div class="dropdown" onclick="incrow({{attr.pk}},'item-attr-','200px')">
                                                    <button class="btn btn-default btn-sm dropdown-toggle" onclick="filterFunctionEvAttr()" type="button" data-toggle="dropdown" role="button" aria-expanded="false">
                                                        {{ attr.evattrformat__name }}
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                            {% if not invreadonly and not invevidencetaskreadonly %}
                                                            <li>
                                                                <a href="{% url 'tasks:evattr_create' pk=invevidence.evidence_inv__pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                                                    class="btn btn-secondary btn-sm btn-block text-left">
                                                                        <span data-toggle="tooltip" data-placement="top" title="Attribute item">
                                                                            &nbsp;<i class="fas fa-plus"></i>&nbsp;
                                                                            Attribute
                                                                        </span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="{% url 'tasks:evattr_edit' pk=attr.pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                                                    class="btn btn-secondary btn-sm btn-block text-left">
                                                                    <span data-toggle="tooltip" data-placement="top" title="Attribute item">
                                                                        &nbsp;<i class="fas fa-pencil-alt"></i>&nbsp;
                                                                        Edit
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                        <li>&nbsp;</li><li>&nbsp;</li>
                                                        {% endif %}
                                                    <li class="dropdown-submenu">
                                                        <a tabindex="-1" href="#" class="btn btn-secondary btn-sm btn-block text-left">
                                                            Actions <span class="fa fa-chevron-right"></span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-content" id="myDropdownEvAttr">
                                                            <input type="text" placeholder="Search.." id="myInputEvAttr" onkeyup="filterFunctionEvAttr()">
                                                            <li>
                                                                {% if attr.evattrformat__name == "UserName" or attr.evattrformat__name == "UserID" or attr.evattrformat__name == "Email" or attr.evattrformat__name == "HostName" or attr.evattrformat__name == "IPv4" or attr.evattrformat__name == "IPv6" %}
                                                                    <a href="{% url 'assets:profile_autoadd' inv_pk=inv.pk evattr_pk=attr.pk ev_pk=0 %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                                                    class="btn btn-secondary btn-sm btn-block text-left">
                                                                          I - Add To Profile
                                                                    </a>
                                                                {% endif %}
                                                            </li>
                                                            <li>
                                                              {% for actiongroup in actiongroups_attr_with %}
                                                                {% if actiongroup.pk %}
                                                                        <!--Used to keep the new evidences under the same task, but it caused issues with locked tasks, and makes more sense to allow new evidences to be edited.-->
<!--                                                                         if invevidence.evidence_inv__task__pk %}-->
<!--                                                                            <a href=" url 'tasks:act_exec_scriptgroup' pk=actiongroup.pk inv_pk=inv.pk task_pk=invevidence.evidence_inv__task__pk ev_pk=invevidence.evidence_inv__pk evattr_pk=attr.pk %}?attr={{attr.pk}}&next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"-->
<!--                                                                            class="btn btn-secondary btn-sm btn-block text-left">-->
<!--                                                                                <span></span>-->
<!--                                                                                G actiongroup.pk}} -  actiongroup }}-->
<!--                                                                            </a>-->
<!--                                                                         else %}-->
                                                                            <a href="{% url 'tasks:act_exec_scriptgroup' pk=actiongroup.pk inv_pk=inv.pk task_pk=0 ev_pk=invevidence.evidence_inv__pk evattr_pk=attr.pk %}?attr={{attr.pk}}&next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                                                            class="btn btn-secondary btn-sm btn-block text-left">
                                                                                <span></span>
                                                                                G{{ actiongroup.pk}} - {{ actiongroup }}
                                                                            </a>
<!--                                                                         endif %}-->
                                                                {% endif %}
                                                              {% empty %}

                                                              {% endfor %}
                                                            </li>
                                                            {% for actid in actions %}
                                                                <li>
                                                                    {% if actid.scriptinput.pk == 3 %}
                                                                        {% if attr.evattrformat__pk == actid.scriptinputattrtype.pk or actid.scriptinputattrtype.pk is None %}
                                                                            <!--Used to keep the new evidences under the same task, but it caused issues with locked tasks, and makes more sense to allow new evidences to be edited.-->
<!--                                                                             if invevidence.evidence_inv__task__pk == "x" %}-->
<!--                                                                                <a href=" url 'tasks:act_exec_script' pk=actid.pk inv_pk=inv.pk task_pk=invevidence.evidence_inv__task__pk ev_pk=invevidence.evidence_inv__pk evattr_pk=attr.pk %}?attr={{attr.pk}}&next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"-->
<!--                                                                                   class="btn btn-secondary btn-sm btn-block text-left">-->
<!--                                                                                    <span></span>-->
<!--                                                                                     actid.pk }} -  actid.title }} ( actid.outputtarget.shortname }})-->
<!--                                                                                </a>-->
<!--                                                                            % else %}-->
                                                                                <a href="{% url 'tasks:act_exec_script' pk=actid.pk inv_pk=inv.pk task_pk=0 ev_pk=invevidence.evidence_inv__pk evattr_pk=attr.pk %}?attr={{attr.pk}}&next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                                                                   class="btn btn-secondary btn-sm btn-block text-left">
                                                                                    <span></span>
                                                                                    {{ actid.pk }} - {{ actid.title }} ({{ actid.outputtarget.shortname }})
                                                                                </a>
<!--                                                                             endif %}-->
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </li>
                                                              <!--<li class="divider"></li>-->
                                                            {% endfor %}
                                                <!--</div>-->
                                                        </ul>
                                                    </li>
                                                    <li>&nbsp;</li>
                                                    <li>
                                                          <a href="{% url 'tasks:evattr_remove' pk=attr.pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                                              class="btn btn-secondary btn-sm btn-block">
                                                          <span class="font-weight-bold text-danger" data-toggle="tooltip" data-placement="top" title="Delete item">
                                                              <i class="fas fa-trash-alt"></i>
                                                              Delete
                                                          </span>
                                                          </a>
                                                    </li>
                                                  </ul>
                                                </div> <!-- .dropdown -->
                                                <!--Attribute dropdown end-->
                                            </div>
                                        </td>
                                        <td>
                                            <div class="container mw-100 d-inline-flex justify-content-start flex-row align-items-center align-content-center flex">
                                                <a href="{% url 'tasks:evattr_observabletoggle' pk=attr.pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                                >
                                                {% if attr.observable %}
                                                    <span data-toggle="tooltip" data-placement="top" title="Toggle Observable">
                                                        <i class="fas fa-eye" aria-hidden="true">&nbsp;</i>
                                                    </span>
                                                {% else %}
                                                    <span class="fas fa-eye-slash" data-toggle="tooltip" data-placement="top" title="Toggle Observable">
                                                        &nbsp;
                                                    </span>
                                                {% endif %}
                                                </a>


                                                {% if attr.evattrvalue %}
                                                <a href="{% url 'tasks:evattr_detail' pk=attr.pk %}?next1={{ request.get_full_path|urlencode }}#item-inve{{ invevidence.evidence_inv__pk }}"
                                                style="max-width: 1100px;overflow: auto;text-overflow: word-wrap;overflow-wrap: break-word;">
        <!--                                            style="max-width: 1100px;overflow: auto;">-->
        <!--                                        style=" word-wrap: break-word; width: 200px; display: block; "-->
                                                    <h6><span class="badge badge-pill badge-secondary">{{ attr.evattrvalue }}</span></h6>
                                                </a>
                                                {% endif %}


                                            </div>
                                        </td>
                                        <td>
{% with attr.pk|getsameattributelistbyevidence as attribs %}
                                            {% if attribs %}
                                                <div class="dropdown">
                                                        <button class="btn btn-warning btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                                                {{ attribs|length }}
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-content" id="myDropdownRelated">
                                                                    {% for sameitem in attribs %}
                                                                        {% if sameitem.ev__inv__pk %}
                                                                            <li>
                                                                                    <a class="" href="{% url 'invs:inv_evidencetab' pk=sameitem.ev__inv__pk %}?next1={{ request.get_full_path|urlencode }}"
                                                                                       target="_blank"
                                                                                    >
                                                                                        <span class="badge badge-pill badge-warning">{{sameitem.ev__inv__pk}} {{ sameitem.user__username}}</span>
                                                                                    </a>
                                                                            </li>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                    <!--</div>-->
                                                        </ul>
                                                    </div>
                                            {% endif %}
{% endwith %}
                                        </td>
                                    </tr>
                                {% endfor %}
{% endwith %}



                                </tbody>
                            </table>
                        {% endif %}
                      <div class="invdescription2" style="max-width:1400px">
                        {% if invevidence.evidence_inv__evidenceformat__pk == 2 %}
                            {{ invevidence.evidence_inv__description|safe }}
                        {% else %}
                            {% if invevidence.evidence_inv__evidenceformat__pk == 1 %}
                                {{ invevidence.evidence_inv__description|linebreaks }}
                            {% else %}
                                Unkown evidence format!!!
                            {% endif %}
                        {% endif %}
                      </div>
<hr class="solid">
                  </td>
                </tr>
{% endwith %}
{% endif %}
        {% empty %}
          <tr>
            <td colspan="9" class="text-center bg-warning">No matching record found</td>
          </tr>
        {% endfor %}
{% endwith %}
{% endwith %}
{% endwith %}
